[2018-10-02 09:16] aconceicao commented on #343
I also tried to use Anaconda2 instead of Anaconda3, but it didn't fixed the problem.

(base) [root@localhost ~]# python tomopy_rec.py /root/data/tomo_00001/tomo_00001.h5
Traceback (most recent call last):
  File "tomopy_rec.py", line 340, in <module>
    main(sys.argv[1:])
  File "tomopy_rec.py", line 269, in main
    data_size = get_dx_dims(fname, 'data')
  File "tomopy_rec.py", line 41, in get_d

[2018-10-02 18:08] #271 closed

[2018-10-02 18:08] #283 closed

[2018-10-02 18:08] #301 closed

[2018-10-02 18:08] #341 closed

[2018-10-04 08:39] aconceicao commented on #343
Dear decarlof the tomo_00001.h5 file I'm using has the size of 3,242,131,456 bytes. I've downloaded from Globus repository.

[2018-10-04 16:56] decarlof commented on #343
@aconceicao I just downloaded the file and I get 11,032,102,944 byte. It looks that the file was truncated during the download. Please download again and check the globus log for errors. Also the checksum for this file is:

md5sum /local/data/test/tomo_00001.h5
0619fb80b177cc59e4912edffa1fdffa  /local/data/test/tomo_00001.h5

[2018-10-09 01:30] georgeha opened #346 "ValueError: need more than 3 values to unpack"
At this file:
[code]

This command does not work:
[code]

[2018-10-09 01:46] dgursoy commented on #346
This is true for older versions of ```dxchange```, where ```theta``` is not included in the outputs. Could you update the package and give it another try (or simply drop ```theta``` from your output list)?

[2018-10-09 01:57] georgeha commented on #346
Thanks, both solutions work!

[2018-10-09 01:57] #346 closed

[2018-10-11 00:57] decarlof opened #347 "readthedocs API is broken"
see [this](https://tomopy.readthedocs.io/en/latest/api/tomopy.prep.alignment.html)

[2018-10-11 01:03] dgursoy commented on #347
Ah. Thanks. Due to recent build changes I assume.

[2018-10-13 03:52] #343 closed

[2018-10-15 21:49] #347 closed

[2018-10-15 21:50] dgursoy commented on #328
@mdrkok did it work?

[2018-10-27 01:13] jefferton-sg opened #351 "align_seq needs center shift control?"
Hey all, long time fan, first time caller...

I've been tinkering with the align_seq routine for projection image alignment but I think it needs a control for the center shift. While I've "fixed" this on my end by adding another call to find_center inside the align_seq code, I suppose it would make more sense to have center shift as an optional argument when calling align_seq (so the reconstructio

[2018-10-30 16:50] carterbox commented on #351
Thanks for you idea! It looks like @dgursoy is the last person to have touched [`align_seq`](https://github.com/tomopy/tomopy/blob/788aaf43ff3db9392629ad0c10f4b29db31063f6/tomopy/prep/alignment.py#L75-L166). He is at a conference this week, but I'll be sure to remind him in person to address this issue when he returns. Thanks for your patience. :smile:

[2018-11-02 14:04] oachk opened #356 "RunTime Error tomopy multiprocessing windows 10"
Hi!
I'm trying to use the tomopy package on windows 10, installed via conda as recommended. At the moment I'm just trying to get one of the example scripts in the documentation to work (p.30 in the documentation):

[code]

I get the following error:

[code]

It doesn't give me my prompt back neither. I think it is caused by the call of tomopy.project() (just testing using print() after each line o

[2018-11-02 16:49] carterbox commented on #356
Building from source will not help. There have been no changes to `tomopy.mproc` since the last release. Let me try to reproduce this problem, and I'll get back to you.

[2018-11-02 18:11] jdgelb opened #358 "GPU options for align_seq and align_joint (backprojection and forward projection)"
Could we get an option for full GPU acceleration in the dataset alignment routines? I think there is progress being made on the backprojector, but it would be great to get this option in the forward projector too. However, I think that means that we need a wrapper for the ASTRA forward projection added as a utility, so that it can be called by align_seq and align_joint... unless I'm missing someth

[2018-11-05 00:51] carterbox opened #359 "Doc contains __init__.py"
Why do `doc/__init__.py` and `doc/demo/__init.py__` exist? These init files cause the python installer to think there are two top level packages: `tomopy` and `doc`. The result is that some additionally files are added to during install as a separate `doc` package.

[2018-11-05 01:07] dgursoy commented on #359
I remember they were put there to make readthedocs happy, but not sure if we need them anymore.

[2018-11-05 01:14] #351 closed

[2018-11-05 02:56] carterbox commented on #356
@oachk, this is a quirk of the Windows 10 multiprocessing. The fix [described here](https://pytorch.org/docs/stable/notes/windows.html#multiprocessing-error-without-if-clause-protection) worked for me. In order to run your example code you should instead do this:

[code]

Please close this issue if it works for you!

[2018-11-05 03:04] carterbox opened #361 "Wrap build system in mock Extension in order to configure from setup.cfg"
@jrmadsen reports in #355, that `libtomopy.*` is not installed to `__site_packages__` when `tomopy` is installed by calling `python setup.py install`. However, installation using `pip` does copy the library. This should not be happening because `libtomopy.*` is included in `MANIFEST.in` which determines which files are included in the distributed package.

[2018-11-05 07:11] oachk commented on #356
Thanks so much for looking into this!
It works perfectly, both in running it from the promt and spyder

[2018-11-05 07:11] #356 closed

[2018-11-05 13:01] newville commented on #361
@carterbox @jrmadsen  Hm, I agree that `python setup.py install` should install the shared library. It does for me.  I wonder if it might be some confusion about where things get installed.

With th master branch, `python build.py && python setup.py install` installs to
`.../site-packages/tomopy-1.2.1-py3.6.egg` and the shared library is put in `.../site-packages/tomopy-1.2.1-py3.6.egg/tomopy/shar

[2018-11-05 19:55] carterbox commented on #361
@newville I agree with your observations. `pip` is the smarter installer, so it knows when a package is already installed via `python setup.py install`. `setup.py` is a dumb installer which will rebuild and copy files to `site-packages` regardless of whether the packages is already installed. Both will successfully copy `libtomopy.*` to `site-packages` on Linux.

@jrmadsen Please confirm whether o

[2018-11-05 20:39] jrmadsen commented on #361
Ok so I figured out where the "problem" is -- we were talking about two different situations. If you simply add:

[code]
to the beginning of `setup.py` then `python setup.py install` installs correctly. This is perfectly inline with what I was saying earlier about `libtomopy.<ext>` existing when `setup(...)` is invoked.
However, if you just do this:

[code]
the installation does not include `libto

[2018-11-05 20:54] jrmadsen commented on #361
Note: when testing this out, do not issue any `python build.py` commands. This is completely against the purpose of my modifications to `setup.py` -- this is an unusual step in the standard process of installing a Python package. The entire idea is to remove having to directly use this command.

Add one of those modifications to `setup.py` and either run `python setup.py install` or `python -m pip

[2018-11-06 01:32] carterbox commented on #361
Here is what I am understanding: We could add
[code]
to `setup.py` in order to install everything correctly in one step, but you want to instead ask `setuptools` to call `build.py` using a custom `Extension` because it allows you to use [`setup.cfg`](https://docs.python.org/3/distutils/configfile.html) to pass parameters to `setuptools` to pass parameters to CMake. The unfortunate side effect is t

[2018-11-06 02:43] newville commented on #361
@carterbox  Sorry, I should have been clearer.   I used  "clever" to suggest "tries to be smart, and sometimes fails".  Sometimes "dumb" (obvious, simple, brute-force) is the better way to go.

I do agree that `python setup.py install` should be an expected installation method, and that it probably should be preferred over both `pip install .` and over  `python build.py && python setup.py install`

[2018-11-06 06:20] jrmadsen commented on #361
@newville I don't think you understand `setuptools.Extension`. I explained how TomoPy is, in fact, an extension in another thread. It has nothing to do with `Python.h`, it simply has to do with creating bindings to access a compiled library from Python. Please find that thread and read it. Using `setuptools.Extension` is not changing how TomoPy is compiled AT ALL. **I am not modifying the build pr

[2018-11-06 15:03] dmpelt opened #362 "Gridrec zero frequency behavior"
For a project we are using the tomopy gridrec `custom` filter option. We noticed that the zero frequency of the projection data is always set to zero, even if the filter component of the zero frequency is nonzero. The easiest way to test this is to 'backproject' a constant sinogram, e.g.:

[code]
This returns a zero array. The same also happens if you simply try to reconstruct a constant sinogram

[2018-11-06 17:05] carterbox commented on #361
@jrmadsen Is the following correct? The reason you made a custom `Extension` is so you can install on one line using `setup.cfg` to pass arguments to CMake. Building using CMake doesn't require a custom `Extension`, but if you want to use CMake and `setup.cfg`, it requires replacing the default build system from `disuitls`.

:slightly_frowning_face: I'm still miffed that we need to manually copy t

[2018-11-06 19:10] jrmadsen commented on #361
Using CMake does require Extension. We can have the discussion about scikit-build another time. I avoided doing it because I encountered portability issues when I used it, especially when I was testing installation with pip -- it may work for you locally but I encountered issues on other Linux systems, either CentOS or OpenSUSE. I can test again.

We need to copy the shared library manually becaus

[2018-11-06 19:57] carterbox commented on #361
I always thought we were putting the shared library into a weird place, but I couldn't figure out where else to put it so it would be installed for non-development distributions. Where is the standard place? I scoured python module building documentation, but they don't explain much about including binaries with packages. Why don't we just change where `build.py` places the shared library (to the

[2018-11-07 00:41] jrmadsen commented on #361
If you run `python setup.py build` (with my revisions) look in the build folder that gets generated. There are typically a couple directories that get generated and the all have suffixes that are specific to the platform (i.e. OS, CPU arch, Python implementation, and version) which is why I use build_ext bc the folder name is complicated. The `build/lib.<...>` folder is essentially where I am copy

[2018-11-08 16:21] venkat-purdue opened #363 "Not able to reproduce lpRec example"
I have tomopy version 1.2.1 on a Ubuntu 16.04 machine. I also installed Lprec from https://github.com/math-vrn/lprec.

When I try running the example https://tomopy.readthedocs.io/en/latest/ipynb/lprec.html, the output of the reconstruction is not what is shown in the result and instead an array with values 1.e-06.

Any advice on what could be going on ?

[2018-11-09 10:31] oachk opened #364 "using ASTRA via tomopy on Windows (conda, compilation)"
Hi!
I also have an issue reproducing examples that call ASTRAs CPU functions.
If I run the example suggested for an ASTRA reconstruction via CPU:

[code]
I get the following error:
[code]
I'm working on Windows (Intel GPU) in a conda environment equipped with python 3.6, tomopy and the astra-toolbox, see the following list of packages:

[code]

I suspect it's a compilation issue between ASTRA and

[2018-11-09 10:43] dmpelt commented on #364
At first glance it seems to already fail during the import of tomopy, and actually while importing scikit-image.

Can you try to run a simple script that only does `import skimage`, and nothing else? I expect that to fail as well.

The issue seems to be that some parts of your conda environment are build against one version of numpy, and other parts build against a different version. Looking at th

[2018-11-09 10:51] oachk commented on #364
Hi,
thanks for the fast reply!
You're right, my `skimage` fails straight away.
I get the same error as above when I just run a simple `skimage` test script.
[code]

[2018-11-09 10:54] oachk commented on #364
I suspect that I broke some dependencies when I uninstalled astra-toolbox and reinstalled it, once I figured out that the reconstructions I git earlier were all empty. I'll give it a try in a new clean environment and see if I get my earlier problem with the empty reconstructions back

[2018-11-09 11:09] oachk commented on #364
ok, I've created a new environment and only installed tomopy and astra toolbox using the following commands:
[code]
If I list the packages I still get different numpy and numpy-base:
[code]

And I also still get the skimage error:
[code]
Why does this happen if I'm not even working in the base environment, but in my new environment?

[2018-11-09 11:16] dmpelt commented on #364
Can you try (in a new environment) to put the tomopy and Astra install commands in the same line?

conda install -n tomoastra3 -c conda-forge -c astra-toolbox astra-toolbox tomopy

This should help conda figure out the depencies, or give an error if it can't figure it out.

[2018-11-09 11:59] oachk commented on #364
Hi,
tried it, the installation worked without a problem.
But I still get the same error:

[code]

[2018-11-09 13:37] dmpelt commented on #364
Can you try to force the numpy version to 1.15 while installing tomopy and astra (again, in a new environment is safest), i.e.:

[code]

There is some package that downgrades numpy to 1.13 while some other package probably expects 1.15, which could be the cause of the problems.

If this doesn't work, the other way around might work instead (i.e. forcing numpy to 1.13):

[code]

This, at least, let

[2018-11-09 15:06] oachk commented on #364
Hi again,
I also tried a new environment with just tomopy (no astra-toolbox) and the basic full-tomopy projection/reconstruction example from the documentation worked. But as soon as I added the astra-toolbox installation I run into the same error as above, without even calling astra. Really looks like the installation with astra-toolbox causes the trouble.
I'm also still confused that I got it "r

[2018-11-09 19:38] math-vrn commented on #363
@venkat-purdue , could you please first check that cupy (https://cupy.chainer.org/)) is installed and then run "python ./tests/run_test.py" from lprec directory to perform all unit tests?

[2018-11-09 19:42] dgursoy commented on #364
Can you give it a try with Python=3.5?

[2018-11-09 19:51] dgursoy opened #365 "RDT build fails"
RTD is failing after closing #355:
https://readthedocs.org/projects/tomopy/builds/8079189/

[2018-11-09 19:56] carterbox commented on #365
The error is
[code]
Readthedocs doesn't have the mkl header installed. @dgursoy Why does tomopy need to be installed to build the docs?

[2018-11-09 20:01] prjemian commented on #365
There is some new(er) advice for building the docs on RTD.  Follow along here:

http://read-the-docs.readthedocs.org/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules

[2018-11-09 20:07] dgursoy commented on #365
@carterbox I think it is installed by default, which I think is because of the autodoc. Here it says the modules should be importable:
http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html

[2018-11-09 20:10] prjemian commented on #365
That does *not* mean it has to be installed.  It can be imported from the local directory tree.  See the ``conf.py`` file and modify the `sys.path.insert()` command, such as:

[code]

[2018-11-09 20:13] venkat-purdue commented on #363
@math-vrn

cupy.__version__
'4.4.1'

python tests/run_test.py

test_adj (__main__.TestLpMethods) ... [0.95586085, 0.0011777706812102892]
ok
test_adj_many (__main__.TestLpMethods) ... [0.002050212702084428, 0.005194131, 0.00052730384]
ok
test_adj_ptr (__main__.TestLpMethods) ... 0.001416860182196358
ok
test_foam (__main__.TestLpMethods) ... [602.86017, 1181.3875, 1139.512, 444.35748, 926.6202]
ok
t

[2018-11-09 20:29] math-vrn commented on #363
Are you using tomopy from conda-forge or you cloned it from github? Conda-forge now is using the old lprec wrapper version. Could you check that your tomopy/tomopy/recon/wrapper.py is the same as in the master branch?

[2018-11-09 20:34] venkat-purdue commented on #363
I am using tomopy from conda but the version is 1.2.1. Do I still need to build from source using the current master branch ?

[2018-11-09 20:36] dgursoy commented on #363
Yes and sorry about not being prompt on versioning between the releases. Typically the version is increased just before the release, but we should increase it just after the release instead. Please try it from the GitHub master branch.

[2018-11-09 20:37] math-vrn commented on #363
@dgursoy Thanks!

[2018-11-09 20:44] carterbox commented on #364
@dgursoy There is no conda-forge windows build for python=3.5. because conda-forge moved their builds from python=3.5 to python=3.6 before we starting building on Windows.

[2018-11-09 21:02] dgursoy commented on #364
I just realized that they stopped building for Python 3.5 starting from Oct 1.

@dmpelt Probably unrelated but what is libastra for and if it is different than astra-toolbox (both share the same versions)? I checked if it is in the astra-toolbox channel, but I couldn't locate it.

@oachk I would try to install tomopy and astra-toolbox separately in different environments to see which numpy version

[2018-11-09 21:12] venkat-purdue commented on #363
I see.

I am getting an mkl error when I try to install the master.

gcc -pthread  -DNDEBUG -g -fwrapv -O3 -fPIC -Wsign-compare -Wall -Wstrict-prototypes  -I/software/tomopy/include -I/anaconda2/include -I/anaconda2/include/python2.7 -DUSE_MKL -std=c99     -c -o gridrec.o ../src/gridrec.c
../src/gridrec.c:57:21: fatal error: mkl.h: No such file or directory

[2018-11-09 21:17] math-vrn commented on #363
Try conda install mkl-include

[2018-11-12 10:46] oachk commented on #364
Hi!
Sorry for the late reply. I did as you suggested @dgursoy and create two seperate environments. See the package lists below. As expected tomopy installs numpy 1.15, while astra-toolbox wants numpy 1.13. I used the channels conda-forge for tomopy and astra-toolbox for astra-toolbox and installed nothing else. They apparently also use a slightly different python (3.6.6 and 3.6.7). Not sure what

[2018-11-14 00:00] carterbox commented on #364
This is silly. The error occurs during the import of `scikit-image`. We know this because that's what the error message is. Apparently something is wrong with importing this version of skimage.
[code]
I was able to reproduce your problem on a Windows machine. Pinning scikit-image to version 0.14.0 solved the problem with the import error.

[2018-11-15 19:41] #364 closed

[2018-11-29 20:59] carterbox commented on #308
Has this issue been resolved?

[2018-11-29 21:53] aryabhatt commented on #308
I haven't had the same issue again. I guess it is fixed.

[2018-11-29 21:53] #308 closed

[2018-12-04 15:33] newville opened #371 "windows build broken due to missing `install`"
Trying to build from current master with Anaconda Python 3.6 on Windows (64 bit), gives

C:\Users\xas_user\Documents\GitHub\tomopy>python setup.py build
running build
running build_py
running egg_info
writing tomopy.egg-info\PKG-INFO
writing dependency_links to tomopy.egg-info\dependency_links.txt
writing top-level names to tomopy.egg-info\top_level.txt
reading manifest file 'tomopy.egg-info\SOURC

[2018-12-04 22:31] jrmadsen commented on #371
Somewhere in one of the MinGW directories is the `install` command. I can't fire up my Parallels version right now bc I need to renew the license but I tested it on Windows. Go to the directory above where the `make` command is installed, do a search for it, and then at that to the PATH and it will work

[2018-12-04 22:35] jrmadsen commented on #371
It is not broken. This is essentially a bug-report claiming you don't have `python` bc python was installed to `/opt/local/bin/python` and you only have `PATH=/usr/bin:/usr/local/bin`. The `install` command is the recommended way of doing installations in Makefiles.

[2018-12-04 23:33] jrmadsen commented on #371
`conda install -c msys2 m2-coreutils` specifically has `install.exe`. Although compilers are large packages -- you should just install a system compiler and put it in the system PATH. I keep mine in `C:\MinGW` and add these to the PATH: `C:\MinGW\bin`, `C:\MinGW\msys\1.0\bin`, and `C:\MinGW\mingw32\bin`

[2018-12-05 00:01] carterbox commented on #371
I was **not** able to reproduce this problem on my Windows test machine, and as mentioned, the Appveyor build passes.

@newville As a reminder, `conda install` is our [recommended installation method](https://tomopy.readthedocs.io/en/latest/install.html). If you are building the commits between releases, you should expect to have some difficulty.

Thanks to @jrmadsen for some suggestions to start

[2018-12-05 02:15] jrmadsen commented on #371
AppVeyor is working bc it has system compilers installed outside of conda and those external installations are providing the `install.exe`. The MinGW package you get from conda is not the full package -- it is stripped down to conserve size.

[2018-12-05 05:05] newville commented on #371
@jrmadsen @carterbox  Err, no it most definitely *is* broken, and this is not a bug report about having the path incorrectly set to find a particular file.  I encourage you to strive for civility and deference to people reporting bugs and be less dismissive.   I am trying to help you.  It appears you are recognizing this.

The conda environment to build tomopy does include MinGW and Make, which sh

[2018-12-05 06:03] jrmadsen commented on #371
If you have a solution, why haven't you put in a pull request? I'm hearing quite a bit of "y'all need to do X and Y" and "X looks fragile" but it would help if there was some actual collaborative effort. I split my time with other projects and I can only spend so much time on this sort of stuff, esp when it comes to Windows. I actually _wanted_ to just do a copy from the start! The docs can be upd

[2018-12-05 06:11] jrmadsen commented on #371
Quick side note to the base toolchain -- the version of a package/library is most important when you are _linking_ it to another library bc the symbols in the library change between versions. But for tools like `install`, `make`, `cmake`, etc. they are just generating a product. Any changes to the tool between version are internal to the package and there no dependency so the only real difference

[2018-12-05 15:24] dgursoy commented on #371
I'll use this thread as an opportunity to ask few questions that are somehow relevant.

@jrmadsen @carterbox @newville: Have you ever tried the Windows Subsystem for Linux? It is a new Windows 10 feature that enables you to run native Linux command-line tools directly on Windows, alongside your traditional Windows desktop and modern store apps.

More information here:
https://docs.microsoft.com/en

[2018-12-05 16:41] carterbox commented on #371
@newville I'm trying to help you too. I've tried to recreate your problem, but I was unsuccessful. I'm sorry that your alternate build was broken, but our build tests don't include your build environment. I'm offering help make your build environment match the one we test on, so I need more information about what and how you are trying to build. If you want to take a code editing approach, then pl

[2018-12-05 19:55] jrmadsen commented on #371
@dgursoy I have used the WSL and it works very well. I explored using it quite a bit when it first was released as a beta bc another project I work on had a pthreads implementation so multithreading wasn't supported on Windows and the OpenGL + Windows graphics were minimally supported. With the WSL and a Xming server running in Windows, I was able to get both working. But in the advent of Docker,

[2018-12-05 22:50] newville commented on #371
@carterbox I have two different Windows machines that show the same behavior -- there is *not* a file named `install.exe` under Anaconda3, including in any `pkgs` folders.  Both machines are using Anaconda3 5.2.0, and are using Python 3.6.7.  I have done

[code]

Neither machine has a  `usr` folder underneath `Library`.  There is a `Anaconda3\Library\bin` folder, but there is not an `install.exe`

[2018-12-06 00:16] carterbox commented on #371
@newville I compared our package lists and didn't see anything that looked significantly different. I am going to try a clean install of latest Miniconda and Anaconda (because they only offer the latest installers). I will report back when I figure out how `install.exe` was added to my systems.

[2018-12-06 04:30] prjemian commented on #371
FWIW, on my Win10-64 system, `install.exe` shows up in Anaconda in two places:

[code]

[2018-12-06 16:38] newville commented on #371
@prjemian  Thanks.  That implies that the `git` package would be required.

Personally, I think the better approach would be to not use `install` or `make install` (or `make clean` for that matter). in `build.py` at all.  That is, the `make install` just copies the shared library from one location (`tomopy/sharedlibs`) to another (`/tomopy/build/lib.PLAT-VERS/tomopy/sharedlibs/`).  Since the share

[2018-12-06 16:52] dgursoy commented on #371
@newville There is no reason to be worried. We don't have any intention of dropping support for Windows users. These options were to discuss to find the best ways of providing this support with minimal developer effort, and honestly I find such conversations quite informative, but also it doesn't necessarily mean that the packaging will be changed.

@newville I know there are many users who would

[2018-12-06 20:43] newville commented on #371
On Wed, Dec 5, 2018 at 7:24 PM Jonathan R. Madsen <notifications@github.com>
wrote:

Yes, but these packages are *not* listed as required to build tomopy
(either requirements.txt or .appveyor.yml).  Hence the issue.
Adding one of these as a dependency would be possible solution.

I think it would be better to use builtin python functionality
(`shutil.copy`, 'os.chmod', 'os.unlink') rather than ins

[2018-12-06 20:54] newville commented on #371
Hi Doga,

On Thu, Dec 6, 2018 at 10:52 AM Doga Gursoy <notifications@github.com>
wrote:

OK.

The GUI code from Brandt Gibson is at
https://github.com/bramgibs/TomoPy_GUI.  There is not a lot of
documentation, but the code is actually pretty small, and fairly clean in
its approach.  Again, this is from a visiting PhD student in Geology who
had very little Python or tomopy experience before startin

[2018-12-06 21:06] dgursoy commented on #371
@newville Great! We worked out some parts of this project with Brandt during summer, so I know some background. I'd be happy to add other readers for tomography on a per request basis. I assume we can start with 2-BM and 32-ID (@decarlof). We should then add some documentation in TomoPy for other users to find the repo.

[2018-12-06 23:23] jrmadsen commented on #371
@newville

(either requirements.txt or .appveyor.yml).

As @carterbox and I noted, this problem had not shown up in any of our personal testing on Windows nor in AppVeyor.

This means my concerns about linking do not apply and that there would be no issues with Windows + Docker + tomopy + your GUIs but your later statements suggest that these discussions will not be productive so I am dropping it.

[2018-12-10 22:40] carterbox opened #377 "Proposal: Reduction of dependencies"
I propose the following actions in order to reduce the installation footprint of TomoPy:

- [ ] Remove unused dependencies from entire project
- [x] Replace rarely used imports with equivalent functions from frequently used imports
- [x] Separate dependencies which are only used for optional features and testing

Please discuss why or why not these things should be done.

## Unused dependencies
If

[2018-12-10 22:57] carterbox opened #378 "Proposal: Increase the number of build targets"
With the help of @jrmadsen, we are replacing the current build system with cross-platform make (CMake) and scikit-build (#375). Now is a good time to discuss the platforms, architectures, and compilers that we will support with the new CMake build system.

The current list is:

- MacOS x64
  - Clang (conda) - default
- Linux x64
  - GCC (conda) - default
  - Intel (version 18.0.3)
  - PGI (version

[2018-12-11 00:49] jrmadsen commented on #378
So here is a summary of the compilers that I have tested and verified as working using system compilers:

- Linux
  - GCC (`/usr/bin/gcc`)
  - Clang (`/usr/bin/clang`)
  - Intel (version 18.0.3)
    - this requires setting `-fp-model=precise` flag, which I will update in branch
  - PGI (version 18.4 and 18.10)
- macOS
  - GCC (macports)
  - AppleClang (i.e. `/usr/bin/clang`)
  - Clang (macports)

[2018-12-11 15:59] carterbox commented on #378
@jrmadsen Why test Macports GCC and Clang? Is is because setting up CMake for Linux GCC and Apple Clang is the same?

[2018-12-12 00:32] jrmadsen commented on #378
I keep the macports versions around mostly because they are much closer to duplicates of the GCC and Clang provided on Linux because Apple's Clang is somewhat different than the open-source Clang and `/usr/bin/gcc` on macOS is actually LLVM, not GCC.

In general, by using the macports GCC and Clang, it is pretty safe to assume that if it compiles on macOS, it will compile on Linux with those compi

[2018-12-12 05:01] carterbox commented on #371
I merged a patch today to address the original issue. Good discussion, folks.

[2018-12-12 05:01] #371 closed

[2018-12-12 17:36] dgursoy commented on #377
I think all three points make sense.

Some notes to remember:
- We use the ```register_translation``` in ```skimage.feature``` and ```transform```  in  ```skimage```. The common use is for calculating the rigid registration parameters of two images and auto-centering of the rotation center in tomographic reconstruction.
- Drop dependency to ```pywt.dwt2``` and ```pywt.idwt2```  in ```stripe``` mod

[2018-12-12 18:52] jrmadsen commented on #378
Well that's the case for TomoPy now but that's not exactly the case for some of the other work -- we are implementing CUDA, OpenMP, and OpenACC for GPU offloading the iterative algorithms (as a study of implementation complexity, performance, and portability) and OpenACC requires PGI or Clang (PGI is far superior to Clang at this point) and GCC for OpenMP. And with the ability to query flags, etc.

[2018-12-12 19:08] #361 closed

[2018-12-13 02:27] carterbox opened #379 "Cross-platform complex types for gridrec"
When gridrec was [updated to use FFTW around 4 years ago](https://github.com/tomopy/tomopy/commit/fcf3389be0a9ad846f13857d846fffdc71da44cc), a custom complex struct was replaced with complex types defined in <complex.h>. This unfortunately means it cannot be compiled by MSVC because MSVC doesn't implement <complex.h>.

How can we implement a complex type that is cross-platform such that libtomopy

[2018-12-13 02:30] carterbox commented on #379
https://stackoverflow.com/a/31948016/4459405

[2018-12-13 04:02] newville commented on #379
@carterbox  Yes, the problem of lack of support for C99 complex in MSVC was mentioned (see #310) as part of the motivation for using MinGW to get tomopy to compile and link on Windows.

I haven't seen or heard about problems using gridrec on Windows using MinGW.   I've used it for quite a few reconstructions.  Are you or other people seeing problems with it?

You have emphasized that you expect pe

[2018-12-13 05:08] carterbox commented on #379
I assumed that using MSVC would be better because it is the compiler used to compile CPython, and it is the native compiler for Windows. This assumption may be wrong. :man_shrugging:

We may not be using any of the features that MSVC has that would make it a better choice than MinGW, and as you mentioned, we have not had any compatibility issues with libraries that were compiled with MSVC.

[2018-12-13 11:44] dgursoy commented on #379
I get that both seem to be OK for our applications. But then I’d stick with MinGW unless there is any strong against argument, because some power users like @newville is more comfortable with it. Some more general discussion on this:
https://stackoverflow.com/questions/8029092/gcc-worth-using-on-windows-to-replace-msvc

I’d check runtime performances of both because this is the number one item in

[2018-12-13 14:39] tekinbicer commented on #379
IMHO, it would be better to stick with MinGW if it works.

That's a valid point. If the performance is an issue, then the code probably be refactored with macros. Still, before moving MSVC it might be worth trying other windows compatible compilers (clang?)

C++11 has complex types, so using C++11 should solve the problem. My codebase has iterative reconstruction algorithms, but we can consider ad

[2018-12-13 18:36] carterbox commented on #379
@tekinbicer I also noticed that MSVC has implemented <complex> for C++11. However, my understanding is that[ `ctypes` is not compatible with C++](http://www.scipy-lectures.org/advanced/interfacing_with_c/interfacing_with_c.html#id3), so in order to switch to C++11 we need to change our interface.

[2018-12-13 19:31] newville commented on #379
@carterbox @dgursoy @tekinbicer   To be clear, I do not advocate for MinGW instead of Microsoft (or any other) compilers for any reason except that we got that to work.  If someone figures out how to use a different compiler, and it works, that would be fine with me.

I am not sure about how MKL deals with this. It appears that MKL_FFT also uses `float Complex`. It's kind of hard to believe that M

[2018-12-13 22:14] jrmadsen commented on #379
@newville is correct. I do this in the gpu-devel branch of my fork and it uses C++11.

[2018-12-13 22:23] jrmadsen commented on #379
Just for additional information, PyBind11 is the best package I have found for binding C++ to Python (I use it in the PyCTest and TiMemory packages). It is basically a C++11 header-only version of Boost.Python without any external dependencies. I looked into using it for TomoPy but it seemed like too much work to migrate and provided little in return. But if y'all are interested in C++ and Python

[2018-12-13 23:38] carterbox commented on #379
But actually, the conda-forge feedstock environment is probably the same build environment as one we are using which means MinGW 7.2 should still be available. I'll investigate.

[2018-12-13 23:56] jrmadsen commented on #379
Well I think the point of using C++11 is that we would then be able to use `std::complex<float>` and thereby use the MSVS compilers.

[2018-12-14 00:03] jrmadsen commented on #379
Ah I found this: https://docs.microsoft.com/en-us/cpp/c-runtime-library/compatibility?view=vs-2017
I think MSVS compilers for complex will work if you include `<tgmath.h>` instead of `<complex.h>`. It is not entirely clear

[2018-12-14 02:02] carterbox commented on #379
Good news! The Anaconda `defaults` channel offers GCC 5.3. The package name is `m2w64-gcc`. If we use that package instead of the `mingw` package, then CMake passes the std_c11 tests.

For right now, it seems best to use `m2w64-gcc` for the Windows compiler because:

- It is available from default anaconda channels (important for conda-forge distribution)
- It supports C11 (important for @jrmadsen

[2018-12-14 20:33] carterbox commented on #377
PyWavelets is also dependency of scikit-image, so it's not really valuable to refactor `stripe` if that won't reduce the dependencies. (Also, I looked at the code, and I wouldn't know how to do what you're suggesting).

[2018-12-15 00:09] carterbox commented on #377
This is the approximate list of dependencies which are no longer required by recategorizing `dxchange` as a soft dependency. Some dependency changes may be indirect because of changes to other dependencies.

[code]

[2019-01-17 19:12] hijizhou opened #385 "installation problems and solutions on Ubuntu 18.04"
_This problem may not be common, but I would like to record it to benefit possibly similar environments._

I am having a new installed Ubuntu 18.04, with Python 3.6.  Following the [instructions](https://tomopy.readthedocs.io/en/latest/install.html) of installing from source with Conda with the latest version. I need to have some changes to successfully built tomopy:

**1.  *dependencies***
`$ con

[2019-01-18 05:54] carterbox commented on #385
@hijizhou Sorry! The install documentation for developers is out of date.

You're right. `conda` can't read that syntax in `requirements.txt`, and the reason that `mkl-devel` isn't included in `requirements.txt` is that it was originally meant to specify the runtime requirements, not installation requirements.

I've been working on making it easier to setup a dev environment as part of simplifying

[2019-01-18 06:16] hijizhou commented on #385
That's great, @carterbox. Thanks for your work on this useful tool.

[2019-01-18 06:16] #385 closed

[2019-01-31 23:13] carterbox opened #388 "Add citations to reconstruction algorithms documentation"
Many of the reconstruction [algorithms in the docs ](https://tomopy.readthedocs.io/en/latest/api/tomopy.recon.algorithm.html)do not have citations to papers which original proposed or explained them. Some of the citations are not to the original paper. For example, the citation for ART is _Kak and Slaney 1988_, but the original paper for ART is _Gordon et al 1970_. It would be helpful if the docs

[2019-02-08 22:02] carterbox commented on #388
This might be the correct citation for SIRT: https://doi.org/10.1016/0022-5193(72)90180-4

[2019-02-19 01:05] carterbox opened #392 "NumPy v1.16.1 not compatible with TomoPy"
numpy/numpy#12769 breaks compatibility with TomoPy because `np.ctypeslib._typecodes` no longer exists. Our fault though because `_typecodes` is a non-public function. The relevant line in TomoPy is below:

https://github.com/tomopy/tomopy/blob/9f9a5410c2bf8879db6b4d9e38f3c823b9e3fd0f/tomopy/util/dtype.py#L145

@michael-sutherland, Do you have any suggestions on how to fix this?

[2019-02-19 08:35] jrmadsen commented on #392
This appears to work:

[code]

[2019-02-19 20:59] carterbox commented on #392
Thanks, @jrmadsen

[2019-02-27 13:32] lex62lex opened #393 "Idle3 cant process normalize_roi/noralize_bg"
Hi, I'm new to tomopy and am currently using it for reconstruction of gas jets, creating a density profile.
My data is not as nice as it could be, as I'm doing the phase extraction with the neutrino toolkit.
I would like to utilize the normalize_bg function to normalize my data set into something that doesn't produce a vague ring at the end of the gridrec method. My difficulties are with using it,

[2019-02-27 13:54] decarlof commented on #393
@lex62lex can you give us access to the tiff files?

[2019-02-27 14:52] lex62lex commented on #393
I uploaded them here in my Google drive.
The neutrino toolkit that i am currently using saves the images in a PNG, that I then grayscale and save as TIFF. The resulting images have a phantom field (a lighter coloration in the empty space) that i would like to get rid of. This data set is not perfect, but a preliminary one, that I wanted to start with.

https://drive.google.com/open?id=1BHSdICP5TG5

[2019-03-01 00:19] dgursoy commented on #393
Do you collect images with no object for normalization?

What are the corresponding rotation angles for each image?

[2019-03-01 00:55] alex83803 opened #394 "Can't run tomopy.prep.stripe.remove_stripe"
Dear comunity,

I am quite new using tomopy and I have an issue while trying to run the tomopy.prep.stripe.remove_stripe_fw (as well as _ti and _sf) algorithm.

No matter how I install tomopy (setup or pip), I get the following error:
[code]

I have tried many things (new env, various ways to install tomopy) but cant figure out a way to use these stripe removal algorithms.

For instance, tomopy.mi

[2019-03-01 01:31] carterbox commented on #394
Hi @alex83803, please see issue #356. I believe you are having the same problem. If it is the same, please close this issue. Otherwise, let me know that it is not solved.

[2019-03-01 03:19] alex83803 commented on #394
Dear Carterbox,
I am not sure this is the solution, I'll have a look at it :-)
Could you tell me how to implement this solution in the alex.py file?

Strangely the code works properly on my mac but not on my pc.

Thanks a lot for your time :-)

Regards

Alex

[alex.py.zip](https://github.com/tomopy/tomopy/files/2917795/alex.py.zip)

[2019-03-01 16:54] carterbox commented on #394
As I stated in the other issue, this is a quirk of Windows python multiprocessing. It will only happen on machines running Windows.

As the error message says, you must protect the code in your script with an `if` statement. Change your script to follow this example:

[code]

[2019-03-01 17:51] decarlof commented on #393
@lex62lex The images do not open correctly with ImageJ (it seems there is a corrupted metadata regarding byte order, data type or something else). Can you please confirm how the tiff files were generated?

[2019-03-01 19:51] alex83803 commented on #394
Dear Carterbox,

thank you so much for your help.

I wish you a great weekend.

[2019-03-01 19:51] #394 closed

[2019-03-01 19:57] carterbox commented on #394
You're welcome! Happy sciencing! :nerd_face:

[2019-03-02 04:06] carterbox opened #395 "Unexpected behavior with gridrec and filter_name"
I experienced unexpected behaviour when using filters and gridrec. Given the following example,

[code]

I would expect these reconstructions to be the same. However, they are not. Here are the reconstructed images all scaled to the same range:
`# no filter_name`
![gridrec 001](https://user-images.githubusercontent.com/9604511/53676814-64196b00-3c6d-11e9-9df1-dcbfa854ed9c.png)
`'none'`
![gridrec n

[2019-03-02 04:12] dgursoy commented on #395
Neither nones seems correct. 😳

[2019-03-02 04:24] prjemian commented on #395
Y'all speakin Southern a'gin?  Yet I agree.

[2019-03-02 17:03] decarlof commented on #393
@lex62lex I think the issue is in the byte order. Your tiffs are compressed with  **FillOrder: msb-to-lsb**, full settings are:

TIFF Directory at offset 0xb31e (45854)
  Image Width: 912 Image Length: 342
  Resolution: 72, 72 pixels/inch
  Bits/Sample: 8
  Compression Scheme: AdobeDeflate
  Photometric Interpretation: min-is-black
  **FillOrder: msb-to-lsb**
  Orientation: row 0 top, col 0 lhs

[2019-03-07 15:55] namjoo opened #397 "Can apply tompy for Microwave imaging? How images are formed from scattering parameters?"
I see ART and SART algorithms that work with Microwave Tomography.

[2019-03-08 02:43] carterbox commented on #397
In theory, yes. Although TomoPy was developed X-rays in mind; microwaves are just photons of a different energy. However, it depends on how you are using the microwaves. The TomoPy reconstruction algorithms are developed for transmission and emission tomography.

* In transmission tomography, we measure the decrease in flux across the sample, and the images are formed from the absorption propertie

[2019-03-14 20:31] #392 closed

[2019-03-15 16:07] tiago654321 opened #399 "Can tomopy reconstruct SPECT data from an Infinia Hawkeye?"
Hello!
Does this software work with SPECT data? I have seen alot of applications for x-ray imaging but what about applications for nuclear medicine like SPECT and PET data?
Thank you,
Tiago Galvão

[2019-03-15 16:47] dgursoy commented on #399
You can use all algorithms for any emission tomography with parallel beam acquisitions. I would particularly suggest using MLEM, OSEM or their regularized versions, because of the noisy nature of these datasets.

[2019-03-15 17:34] tiago654321 commented on #399
We have SPECT raw data in DICOM format. Is it possible to generate a sinogram and reconstruct the data?

[2019-03-15 18:09] dgursoy commented on #399
Sure. I believe [PyDICOM](https://pydicom.github.io) can be used to read your files, and a script like [here](https://tomopy.readthedocs.io/en/latest/ipynb/tomopy.html) can be used to reconstruct them.

[2019-03-15 21:49] decarlof opened #401 "docs fails to build"
Please replace

with

in readthedocs dashboard under Admin/Advanced Settings/Requirement files

This should be [here](https://readthedocs.org/dashboard/tomopy/advanced/) when logged in [readthedocs](https://readthedocs.org/) as tomopy adm

[2019-03-28 14:57] dgursoy commented on #399
@tiago654321 I hope you reconstructed your data. For now I'll close this but we can reopen if you have problems.

[2019-03-28 14:57] #399 closed

[2019-03-28 15:52] dgursoy commented on #397
It'll not work with microwave imaging because the forward model of x-ray imaging is quite different than microwave imaging. We model wave-matter interaction with line integrals because there is not multiple scattering events with x-rays. They simply are attenuated on their straight path as they pass through. With microwaves, the forward model requires solution of partial differential equations or

[2019-03-28 15:52] #397 closed

[2019-03-28 15:53] dgursoy commented on #401
It passes now. Thanks.

[2019-03-28 15:53] #401 closed

[2019-04-16 01:37] jrmadsen commented on #378
All these compilers + MSVC are supported in 1.5.x

[2019-04-16 01:37] #378 closed

[2019-04-16 01:45] jrmadsen commented on #379
C++ std::complex is supported in 1.5.x and is enabled on Windows + MSVC due to OpenCV linking issue with MinGW bc conda doesn't provide a compatible library for the compiler.

[2019-04-16 01:45] #379 closed

[2019-04-16 01:46] jrmadsen commented on #178
Fftw has been removed

[2019-04-16 01:46] #178 closed

[2019-05-06 15:19] maximka48 opened #407 "gridrec Segmentation fault: 11"
Hi

I updated to the version 1.4.1 of tomopy and experienced problems with gridrec. It doesn't work, looks like it crushes kernel, giving 'Segmentation fault: 11'. Not sure what it means, as I couldn't find it in the code.
All other reconstruction algorithms work successfully.
The same code and same dataset also works successfully with gridrec on tomopy 1.1.2.
What could be the problem?

I use mac

[2019-05-06 15:23] dgursoy commented on #407
Thanks. Could you also please share your script? Have you tried a basic reconstruction test like below?

[code]

[2019-05-07 12:02] maximka48 commented on #407
Thanks for your answer. Your basic test didn't work for the first time, but worked for the second time. After that, my code started to work as well. I didn't touch anything else, so this is anyway strange. But somehow the error doesn't appear at the moment, even after rebooting python.

'''import tomopy
import matplotlib.pyplot as plt
import numpy as np

proj = np.load('data_w10.npy')

N_steps = 1

[2019-05-07 18:51] jrmadsen commented on #407
I have seen a similar problem but forgot about it. I ran it through at a debugger at some point and there was nothing obvious in TomoPy's code and I was pretty sure it was something happening in MKL. Are you using the same conda environment (i.e. same MKL version) for the TomoPy version with gridrec that worked?

[2019-05-07 19:48] dgursoy commented on #407
I couldn't reproduce the problem with the data that you provided, butI haven't checked with your Python environment. Since the problem seems to be solved magically, I'll close this issue. We can re-open this thread if it happens again.

[2019-05-07 19:48] #407 closed

[2019-05-07 21:07] jrmadsen commented on #407
Which python version were you using @dgursoy? It looks like above was 3.7 but I think your inability to reproduce it supports the theory that the issue is external to TomoPy.

[2019-05-08 10:46] maximka48 commented on #407
Hi @jrmadsen. The gridrec that worked was on different conda environment with python 3.5. and older  versions for all packages. I believe that the problem is indeed in MKL or numpy, as I have seen it already yesterday once without using tomopy.
Thank you @dgursoy . I also can't reproduce the error at the moment, but will write here in case it will appear in a more systematic way.

[2019-05-14 11:02] nghia-vo commented on #388
Absolutely agree. I've used the following list for our users:
"
** If use Gridrec:**
[1] O'Sullivan JD. "A fast sinc function gridding algorithm for Fourier inversion in computer tomography", IEEE T Med Imaging 1985; 4: 200–207.
[2] Gürsoy D, De Carlo F, Xiao X, and Jacobsen C. "Tomopy: a framework for the analysis of synchrotron tomographic data". Journal of Synchrotron Radiation, 21(5):1188–1193

[2019-05-16 22:59] carterbox opened #408 "Passing CMake args through pyctest_tomopy.py"
There are two ways to pass CMake parameters when using `pyctest_tomopy.py`. The first is to use the `--cmake-args` parameter and the second is to put the arguments after a second double-minus i.e. `$ pyctest_tomopy.py -- -- -DCMAKE_ARG=foo`. Both are broken?

In the first method, each character of the argument strings was passed separately as in the example below because the provided string is int

[2019-05-16 23:27] jrmadsen commented on #408
I think importing `pyctest.pycmake` and appending the list `pyctest.pycmake.ARGUMENTS` to the `pyctest.BUILD_COMMAND` Should work. That list is where pyctest stores the arguments.

[2019-05-16 23:29] jrmadsen commented on #408
I can't test right now but I'll test it out tomorrow if you don't get to it before I do.

[2019-05-22 09:04] dmpelt opened #409 "Default center of rotation might be 0.5 pixels off"
Working on some code for generating mathematical phantoms, I noticed that I was getting center of rotation artifacts when reconstructing the phantoms with TomoPy. I first thought that I was wrongly generating projections in my code, but now I think it might be due to the default center of rotation in TomoPy. To test this, I created the following minimal working example:

[code]

The code generates

[2019-05-23 20:05] carterbox opened #410 "Cannot build TomoPy for conda-forge because of submodule"
`conda-forge` builds [must be created from release tarballs](https://conda-forge.org/docs/maintainer/adding_pkgs.html), but GitHub does not include submodules in release tarballs. Therefore, the PTL submodule is unavailable when building from the release tarball. This prevents me from creating a `conda-forge` release for 1.5.x. Here are some approaches that might work:

1. Release `libptl` as a se

[2019-05-23 20:40] jrmadsen commented on #410
I don't think that's true about conda-forge and release builds. PyCTest uses submodules so my conda-forge pipeline provides the git revision id

[2019-05-23 20:44] jrmadsen commented on #410
It is `--disable-tasking`, not `--disable-ptl`. TomoPy uses a handful of headers from PTL that have full definitions in the headers, thus don't require building PTL to use them

[2019-05-23 22:06] carterbox commented on #410
OK. I'll use something like for this the conda-forge build. If you did it for `pyctest`, building from git is probably just discouraged, but not prohibited.
[code]

I *did* use `--disable-tasking`. The build fails with the compiler error [above](https://github.com/tomopy/tomopy/issues/410#issue-447849195) when you download a release because `source/PTL` is empty. None of the PTL source files are i

[2019-05-23 22:19] dgursoy commented on #409
The default rotation axis is assumed to be at the center of the detector's field-of-view (i.e. ```projs.shape[2]/2```), which I believe makes sense. But you should create your projections likewise centered with a ```False``` flag like this:
[code]

[2019-05-24 01:35] jrmadsen commented on #410
I know it fails. My point was that I named the option `--disable-tasking` because that implies something different than `--disable-ptl`. You aren't removing the dependency on PTL, you just aren't building PTL, thus, no tasking is available. If you add the required headers to TomoPy, you are more likely to add issues because you would then have a whole bunch of functions and classes with the exact

[2019-05-24 08:39] dmpelt commented on #409
I agree that the center of the detector's field-of-view is the best default rotation axis. However, isn't the position of this center in pixel coordinates equal to `(projs.shape[2]-1)/2`? For example, if you have a detector with two elements, the pixel coordinates that represent the centers of these pixels are located at 0 and 1, respectively. The center of the detector itself is then positioned a

[2019-05-24 08:51] altaskier commented on #409
But for Fourier transforms we go from -N/2 to 0 to +N/2-1 on arrays, so that the center for 256 is at 128 not 127.5.

[2019-05-24 14:58] dgursoy commented on #409
@dmpelt Now I see your point but the center range is from the left edge of your detector's FOV to the right edge of your detector's FOV. Assume we have 2 pixels. Then the range for the center is from 0 to 2 (in the FOV), where 0 means the axis is at the left edge of your detector and 2 means it is the right edge of the detector. So, 1 is at the center.

[2019-05-28 15:08] carterbox commented on #410
Got it. Thanks for clearing that up for me.

Using a git_url checkout on the conda-forge feedstock worked, so we don't need a special release branch. Closes #411

Over the weekend, I was able to build for all the target systems without CUDA. I will be working on figuring out the best way to distribute the CUDA build over the next month.

[2019-05-28 15:08] #410 closed

[2019-05-29 01:35] ankitaeclipse commented on #122
can we use the ring removal function for 3D stack after reconstruction?

[2019-06-03 15:46] tplr opened #413 "tiff stack reconstruction issue"
Hey,

I was trying to read projection files as tiff files from a folder and somehow it only reads 2 of them even though there are 141 images inside. I used dxchange.reader.read_tiff_stack, and then tried to transpose matrix to make as in examples but it didn't work out well. Maybe I am missing something but I have checked again and everything seems ok. Any suggestion?

[code]

[2019-06-04 06:06] ankitaeclipse opened #415 "Ring Removal after reconstruction"
Hi,

I am looking to remove ring artefacts from my reconstructed micro-CT images. Is it possible to do this using the remove stripe functionality in tomopy or is it restricted to during reconstruction process?

Thank you for your time.

Kind Regards,
Ankita Singh

[2019-06-04 16:24] #408 closed

[2019-06-04 16:39] carterbox commented on #415
Hi @ankitaeclipse,

The post-reconstruction ring removal function we have is here:
https://tomopy.readthedocs.io/en/latest/api/tomopy.misc.corr.html#tomopy.misc.corr.remove_ring

[2019-06-04 22:19] jdgelb opened #416 "Recon acceleration in v1.5.0"
Very excited to see the new recon_accelerated routine in v1.5.0! However, I'm trying to get Tomopy_peri to build (which appears to be the acceleration engine of choice?), but the package is a little difficult for me to build... apparently it requires Intel Parallel Studio, which looks to be commercial software (and I'm guessing only required to enable the Xeon Phi acceleration).

Are there other G

[2019-06-04 23:02] jrmadsen commented on #416
The new accelerated routines in TomoPy built into TomoPy and are implemented with CUDA. I'm not familiar with tomopy_peri but if you've got the nvcc compiler or clang-6+ (which is also a CUDA compiler) just built TomoPy from scratch and the build system will pick up working CUDA compiler if it is in your path. Tested on Windows and Linux. Pass `accelerated=true` as an argument to `tomopy.recon` fo

[2019-06-04 23:03] jrmadsen commented on #416
*the new accelerated routines _are_ built into TomoPy

[2019-06-04 23:13] jeffgelb-sg commented on #416
Ah, thanks for that! I'll give it a try then with the regular tomopy.recon call. (I was confusing myself looking at the recon_accelerated routine)

[2019-06-04 23:15] jrmadsen commented on #416
So I just took a look at that other repo. You are going to get much better performance out of the built-in TomoPy. That package mostly just implements the CPU algorithm on the GPU (which I myself also tried) whereas the new method built into TomoPy takes an alternative approach to the problem which structures the data in a far more optimal layout for GPUs.

[2019-06-05 00:17] ankitaeclipse commented on #415
Hi @carterbox,

Thank you for posting the link.

1) The function requires some threshold parameters: thresh, thresh_max, thresh_min. How are these parameters decided?
2) What should be the quantization level of the reconstructed image that is given as an input to the function?

Kind Regards,
Ankita

[2019-06-05 01:19] decarlof commented on #415
remove stripe work on the sinogram => is applied before the recontruction

[2019-06-05 01:26] ankitaeclipse commented on #415
Hi @decarlof

Thank you for letting me know.

I just want to clarify: https://tomopy.readthedocs.io/en/latest/api/tomopy.misc.corr.html#tomopy.misc.corr.remove_ring

refers to ring removal before reconstruction?

[2019-06-05 01:51] carterbox commented on #415
The one ring removal method we have is for removing rings post-reconstruction. That is what you initially asked for. Stripe removal methods that @decarlof is suggesting take a sinogram as input. They are used before reconstruction.

1. The rings that you see in your reconstructed image have some brightness value. The thresholds are used to tell the algorithm in what value range to look for the rin

[2019-06-05 03:01] decarlof commented on #415
no  https://tomopy.readthedocs.io/en/latest/api/tomopy.misc.corr.html#tomopy.misc.corr.remove_ring

works on the reconstructed images

[2019-06-05 03:09] ankitaeclipse commented on #415
Thank you @decarlof and @carterbox for your feedback. I will give this a try and get back to you on how I go.

[2019-06-05 03:36] carterbox commented on #413
Hi @tplr:

From the docs of [`dxchange.read_tiff_stack`](https://dxchange.readthedocs.io/en/latest/source/api/dxchange.reader.html#dxchange.reader.read_tiff_stack)`:
[code]
This means you should provide _all_ of the indices of the files. You provided two indices, so you got two images.

P.S. @decarlof, please transfer this issue to the dxchange repository.

[2019-06-05 03:37] #413 closed

[2019-06-05 03:37] #377 closed

[2019-06-05 03:47] carterbox commented on #409
I believe this is resolved, so I am closing it.

[2019-06-05 03:47] #409 closed

[2019-06-05 04:57] ankitaeclipse commented on #415
Hi @carterbox  @decarlof

I tried the tomopy.misc.corr.remove_ring function. I get the following error:

![Ring Removal Error](https://user-images.githubusercontent.com/17406040/58931215-311dd080-87a2-11e9-96fe-8b2f1753242e.JPG)

[2019-06-05 06:54] decarlof commented on #413
what is the size [x, y] of each tiff file?

francesco

[2019-06-05 08:22] tplr commented on #413
@carterbox
Thanks for the prompt reply and solution. And sorry for wasting your time with simple indexing mistake.

@decarlof
The image size is 1300x1600.

[2019-06-05 15:40] carterbox commented on #413
@tplr, no worries. Brain farts happen! :smile:

[2019-06-05 15:46] carterbox commented on #415
`out` cannot be `True`. According to the docs:

It must be an array the same shape as `rec` or `None`.

[2019-06-05 16:10] meaturner opened #417 "Trouble updating dxchange"
I am trying to run a program and get an value error that i believe is because of the dxchange version and update to theta. However, I am still having problems updating what I believe to be the solution which is dxchange. Here is the error:

"Traceback (most recent call last):
  File "exsitu_arun.py", line 600, in <module>
    main(sys.argv[1:])
  File "exsitu_arun.py", line 564, in main
    rec_tr

[2019-06-05 17:18] tomopy commented on #417
dxchange is not a dependency of tomopy anymore. Please do a conda update following the instructions at

https://dxchange.readthedocs.io/en/latest/source/install.html

francesco

On Jun 5, 2019, at 11:10, meagggs <notifications@github.com<mailto:notifications@github.com>> wrote:

I am trying to run a program and get an value error that i believe is because of the dxchange version and update to thet

[2019-06-05 22:10] carterbox commented on #179
@tekinbicer, Have you implemented a streaming API for TomoPy? Has this feature been addressed?

[2019-06-06 00:18] ankitaeclipse commented on #415
Thank you @carterbox.

In one of your previous comments, you mentioned that "The rings that you see in your reconstructed image have some brightness value. The thresholds are used to tell the algorithm in what value range to look for the rings, so it doesn't correct things that are not rings."

Is there an assumption that the rings have a brightness that is significantly different from that of oth

[2019-06-06 00:32] ankitaeclipse commented on #415
Here's what it looks like after ring removal.

![After Ring Removal](https://user-images.githubusercontent.com/17406040/58998884-65e36380-8846-11e9-9a5f-fbc8a3d07780.JPG)

[2019-06-06 06:03] dyparkinson commented on #415
In the first image you sent, the rings are relatively subtle (compared to some images I've seen!), and there is not extreme contrast difference between the phases, so probably multiple different ring removal algorithms would work fine on that image. In the second image you posted, it covers a larger area and there is a very bright spot near the bottom right. With some ring removal algorithms (take

[2019-06-06 14:27] #417 closed

[2019-06-06 14:39] dgursoy commented on #416
The acceleration wrapper was built through an SBIR collaboration and intended for implementation of penalized maximum likelihood algorithm on Intel Xeon Phis and Nvidia GPUs. But because Intel announced the KNL discontinuance last year and having more GPU implementations in the package, maybe we can think about editing this wrapper in the future versions. @dakefeng do you have any update to share?

[2019-06-06 14:47] dgursoy commented on #415
@ankitaeclipse I would give [this](https://tomopy.readthedocs.io/en/latest/api/tomopy.prep.stripe.html#tomopy.prep.stripe.remove_stripe_ti) a try. The rings in your reconstruction seems to be mild and [Eduardo et al. method](https://scripts.iucr.org/cgi-bin/paper?pp5053) may be a better choice.

[2019-06-06 14:49] dgursoy commented on #393
@lex62lex is this resolved?

[2019-06-06 14:51] dgursoy commented on #362
This can be related to #395.

[2019-06-10 22:25] ankitaeclipse commented on #415
@dyparkinson thank you for explaining this to me and @dgursoy thank you for pointing me to the papers. In my research team, we have always had a problem with ring artefacts, with no solution for it really. I thought there would be 'the one' ring artifact removal algorithm that could be applicable to all.

I will give those a try and see how I go. Is there a general rule of thumb that helps you dec

[2019-06-11 18:06] carterbox opened #421 "Filters not implemented for FBP"
According to the [docs](https://tomopy.readthedocs.io/en/latest/api/tomopy.recon.algorithm.html), filters are not implemented for FBP. However, TomoPy does not raise an error when you try to pass `filter_name` or `filter_par` with `algorithm='fbp'`. This would explain why, in my tests, choosing various filters for FBP did not change the reconstruction quality.

This definitely needs to be fixed in

[2019-06-12 10:33] nghia-vo commented on #415
@ankitaeclipse : your data is cone-beam or parallel-beam? If it's parallel-beam, there're many options to clean them from the sinogram space.  You can try this [paper](https://doi.org/10.1364/OE.26.028396)  where I classified types of rings and methods to clean each of them (implemented in [tomopy](https://tomopy.readthedocs.io/en/latest/api/tomopy.prep.stripe.html#tomopy.prep.stripe.remove_all_st

[2019-06-14 01:03] ankitaeclipse commented on #415
@nghia-vo thank you for writing all that and referring me to your paper. I now understand why some/most of my ring removal algorithms didn't work very well. They weren't suited for my type of data. I will look into the method using wavelet-fft you suggested to work with my data [my case is of a cone-beam].

[2019-06-18 19:28] carterbox opened #422 "New GPU accelerated methods fall-back"
Presently (v1.5.1), if you try to reconstruct with `'accelerated': True, 'device': 'gpu',` but run out of GPU memory, TomoPy will fall back to the original CPU method on a single thread. Is this the desired behavior? Personally, I think TomoPy should throw an error and quit instead of falling back onto an algorithm that I didn't ask for. This is because I would rather adjust the chunk size that I

[2019-06-18 19:37] dgursoy commented on #422
Agreed. Also because we don't have yet a good logging/warning schemes implemented in TomoPy, I'd avoid these fallbacks.

[2019-06-19 08:44] YoshieraHuang opened #423 "Request for x-ray diffraction tomography algorithms"
Does `tomopy` implement xray diffraction tomography (XDT) sub-module memtioned at the paper?  I looked at the code roughly but can't find the XDT sub-module.

[2019-06-19 18:55] dgursoy commented on #423
Which paper are you referring to?

[2019-06-20 01:04] YoshieraHuang commented on #423
[TomoPy: a framework for the analysis of synchrotron tomographic data](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4181643/)
this is the part in 3rd section:

[2019-06-21 20:28] jeffgelb-sg commented on #416
Thanks for the feedback! I was looking in entirely the wrong place. I'm giving the accelerated reconstruction a try today and I can't seem to get it to recognize the presence of my GPU. I get this in the output:

[code]
Is there something else I need to do to get the GPU recognized? I installed the cudatoolkit package but it didn't seem to make a difference (tested on both Windows and Linux with N

[2019-06-21 22:27] carterbox commented on #416
You will need to build TomoPy from source on your local machine in order to have the CUDA accelerated functions enabled. This is because our build infrastructure currently does not have NVCC available, so we cannot distribute the CUDA enabled version over conda. As such, you will also need to install the cudatoolkit using the NVidia installer because there is no conda package which includes NVCC.

[2019-06-21 23:24] jdgelb commented on #416
Ok, thanks for that! It will probably take me some time before I can get to compiling myself from source, but I'll update here if/when I can do that.

Out of curiosity, how does the GPU acceleration work when leveraging the ASTRA libraries? I've been able to use that GPU accelerated version of SIRT and it works nicely via Conda installations... are they including nvcc?

[2019-06-23 01:25] carterbox commented on #416
ASTRA is a separate project. They have their own channel and build infrastructure. We use the conda-forge build infrastructure.

[2019-06-23 19:16] #416 closed

[2019-06-25 10:41] lriordanchen opened #425 "GPU accelerated method producing different result from non-accelerated method"
Hello,

I'm having trouble implementing the GPU support.

When I run the reconstruction without GPU support, it works as expected, but when I add in the line to run it on the GPU, the reconstruction contains artifacts consistent with using the incorrect rotation center in the reconstruction algorithm.

[code]
So when I comment out the line <accelerated=True, device="gpu" >, the reconstruction look

[2019-06-26 01:34] jrmadsen commented on #425
Hi @lriordanchen, the GPU algorithm sets up the problem differently than the CPU algorithms -- instead of keeping the ROI stationary and calculating the chord through the pixel at a given projection angle, it rotates the entire ROI to be perpendicular with the projection angle and interpolates the new pixels. at this point, the algorithms proceeds essentially the same as the CPU algorithms except

[2019-07-02 16:53] carterbox commented on #425
@jrmadsen, you're describing a different problem than what @lriordanchen is reporting. The problem is that in an experiment, the center of rotation for the object isn't always perfectly aligned with the field of view. This is why we have the `center` parameter. `sirt_cuda` takes a parameter `const float* center` which is an array of x (horizontal) coordinates. This is the location of the "true" ce

[2019-07-02 16:59] carterbox commented on #425
This is both a bug and feature request. At the very least, there should be a warning that `sirt_cuda` does not have feature parity with `sirt`, but it is also requesting that a feature is implemented.

[2019-07-02 18:17] jrmadsen commented on #425
Ah ok. Thanks for correcting this. Yes it should not be difficult to adapt the affine transform in [utils.cu](https://github.com/tomopy/tomopy/blob/cfeb9cab03a85063e43ef307a990497e98ccd17a/source/gpu/utils.cu#L244-L245) to handle this.

[2019-07-03 13:22] lriordanchen commented on #425
Thanks @jrmadsen and @carterbox!  Here is an example of what I was seeing:

Below I have an slice generated by running _without_ the gpu:
![image_no_gpu](https://user-images.githubusercontent.com/36885244/60593301-bd6fe300-9da2-11e9-94d8-8f7cdafcde93.jpg)

and here I have the same image generated by running _with_ the gpu:
![image_gpu](https://user-images.githubusercontent.com/36885244/60593340-cf

[2019-07-03 14:48] dgursoy commented on #425
Thanks for bringing this up.

Currently the GPU implementation assumes that the center is at the middle of the detector's field of view no matter what you provide with the ```center``` argument. For a quick fix, one can shift the data by padding or interpolation such that it is centered correctly.

But in the long run we need to fix it in TomoPy. This requires implementation of rotation around an

[2019-07-05 15:54] #415 closed

[2019-07-08 21:02] jdgelb opened #426 "remove_all_stripe algorithm definitions missing"
Hi all! I am trying to run the remove_all_stripe method on Windows, but I'm getting an error:

[code]

This is running TomoPy version 1.5.0 on Windows 10. It seems like there maybe is some issue finding algorithm 6? Anybody else see this on Windows? (I haven't yet gotten access to a linux workstation to check in the "native" environment :-) )

[2019-07-08 21:12] carterbox commented on #426
This is not a Windows specific problem. `_rs_algorithm_6` and `rs_algorithm_3` are not defined anywhere in TomoPy.

[2019-07-08 21:50] nghia-vo commented on #426
My mistake. I changed the name of these function but forgot to update
_rs_algorithm_6 -> _rs_dead
_rs_algorithm_3 -> _rs_sort
will correct this

[2019-07-08 22:12] jdgelb commented on #426
Thanks both! Really enjoyed reading the paper on this topic... I'm looking forward to test driving Nghia's routine. (the combined one that I have nicknamed "The Sledgehammer")

[2019-07-08 22:22] dgursoy commented on #426
@jdgelb: I like the idea of using synonym function names for fun.

[code]

[2019-07-08 22:37] prjemian commented on #426
Why not even a true synonym then?

    sledgehammer = remove_all_stripe

[2019-07-08 23:02] jdgelb commented on #416
Ok so I got TomoPy built from source and am now rocking a fresh build of v1.5.2 from a git clone today. The GPU keeps running out of memory... is there a way I can estimate how much memory it needs? I was trying to reconstruct a 1k x 1k dataset with 721 views on a Geforce 1080Ti (which has 11 GB of memory)... here's the full output below:
`Performing SIRT reconstruction with 100 iterations...
Reco

[2019-07-08 23:18] carterbox commented on #416
There is a tool called `nvidia-smi` which will tell you how much GPU memory is being used. Try with one z slice, then use batches to prevent memory overflow. We don't have automatic memory management, sorry!

[2019-07-08 23:34] #426 closed

[2019-07-08 23:54] jrmadsen commented on #416
Ah well I expect this is happening because your GPU has only 1 GB of memory and your CPU has 32 threads, this means that each thread has it's own `GpuData` instance which contains two dy x nx x ny arrays of 4-byte (float) entries:

https://github.com/tomopy/tomopy/blob/25225b7df825884253240af6be3b87db6286fffd/source/include/data.hh#L389
https://github.com/tomopy/tomopy/blob/25225b7df825884253240af

[2019-07-09 01:02] jdgelb commented on #416
Thanks for this explanation!! I understand much better now where the memory footprint request is coming from. I'll give this a try with splitting my volume into smaller chunks and reconstructing those individually, then stitch them back together at the end to produce the full volume. Will report back as progress is made!

[2019-07-09 04:27] jrmadsen commented on #416
No problem. Both rec.py and phantom.py in the benchmarking directory have this capability so those might be useful as a guide.

[2019-07-11 14:52] carterbox opened #428 "Make all build dependencies optional"
This feature is related to the following recent issues with other institutions trying to build TomoPy with the new build system and dependencies:

- https://github.com/NSLS-II/docs/pull/112
- https://github.com/conda-forge/tomopy-feedstock/pull/21
- I also had a request for a no-MKL build (for licensing reasons), but I can't find the Issue.

It seems that people are both not expecting the hard Ope

[2019-07-11 22:18] jdgelb opened #430 "Issues importing TomoPy 1.5.2 on MacOS"
I have been working on getting the latest tomopy (1.5.2) running on my macbook (MacOS 10.14.5 Mojave), installing via conda. Everything installed ok, but when I tried to "import tomopy" I got a series of errors (see below). After a bit of googling, I was able to fix this by rolling back the version of libopenblas from 0.3.6 (latest conda-forge release) to 0.3.3:

`conda install -c conda-forge libo

[2019-07-12 02:48] newville commented on #428
@carterbox +1 from me: reducing the dependencies and installing with `pip` would be awesome.

For MKL,  I believe that older versions of gridrec used neither MKL nor FFTW.  It may be possible to have a version that could use fftpack (not the fastest, but included with numpy and scipy as shared libs) if MKL was unavailable.  That would probably be some real work.

[2019-07-12 21:14] decarlof opened #431 "Issues importing TomoPy 1.5.2 on Linux"
**Describe the problem**
Fresh installation of anaconda and tomopy fails with
[code]

[code]
I tried to update
[code]
but error is still there

**Platform Information:**
 - OS: RedHat Linux
 - Python Version [3.6.8]

[2019-07-14 20:08] carterbox commented on #431
The `ImportError` is coming from Dask. Why do you think this is a problem with TomoPy and not with Dask?

[2019-07-15 15:20] decarlof commented on #431
I thought was a tomopy package dependency issue  since this was a fresh anaconda + tomopy installation. I just repeated it on the same machine and all works so probably something when wrong during the first attempt

[2019-07-15 15:20] #431 closed

[2019-07-16 06:18] thorstenwagner opened #432 "Problem with installing tomopy 1.5.2"
If I install the current tomopy using conda and try to import it I get the following error:

[code]

I had to update opencv to 4.1 via conda to resolve it. But then I get another exception I try to import tomopy:
[code]
Any suggestions?

[2019-07-16 06:31] thorstenwagner commented on #432
updating numpy to 1.13.0 solved the issue. Some of the depedencies should be updated...

[2019-07-16 06:47] thorstenwagner opened #433 "Calcululate the projection from the top of an object"
I've a 3D volume and want to calculate the projection from top.
I'm using tomopy.sim.project.project

However, as I can only specify theta  I don't know how to do this.

Any help is appreciated.

Best,
Thorsten

[2019-07-16 06:55] thorstenwagner commented on #433
I could use volume3d_rot = scipy.ndimage.rotate(volume3d,45) to rotate the volume in the first place but this seems to be not very efficient...

[2019-07-16 07:44] dgursoy commented on #433
I can add projectors along different axes in a new PR. Do you need arbitrary projectors as well, e.g. qt 30 degrees off from rotation axis?

[2019-07-16 08:11] thorstenwagner commented on #433
Yes, exactly. Top view was just an example

[2019-07-16 08:25] thorstenwagner commented on #433
But as far as I see I cannot calculate a reconstruction based on projection image with rotation using tomopy or astra, right? Both seem to expect that there is only the theta angle...

[2019-07-16 08:28] dgursoy commented on #433
Sure, but beware that arbitrary projectors will be much slower than along-axis projectors, because they can’t be written in terms of a series of identical 2D projectors along an axis. Another option is to use ASTRA projectors. For this you need to provide your geometry options as a dict to ASTRA.

[2019-07-17 20:05] jdgelb commented on #425
I've noticed that this issue also seems to apply when using Astra for SIRT (haven't yet tried any of the other Astra recon modules). Passing in the `center` argument seems to have no effect on the reconstruction (i.e., it assumes the center is the middle of the image even though I have specified the center shift). This issue does not apply to TomoPy's own Gridrec.

Here's my recon call for SIRT us

[2019-07-20 23:04] carterbox commented on #432
Thanks for reporting this! For the first error it's probably because we build against opencv and I didn't pin the runtime version to match the build version!

I have no idea about the numpy 1.13 dependency.

[2019-07-20 23:21] carterbox commented on #432
This bug is a side effect of this build change https://github.com/conda-forge/tomopy-feedstock/pull/21.

[2019-07-21 00:50] carterbox opened #434 "License and README are unpacked in root directory"
`LICENSE.txt` and `README.rst` are being unpacked into the root installation directory instead of into the directory `tomopy` or `tomopy.egg-info`. This is the wrong place for these files to be installed and it may cause problems [with packaging](https://github.com/conda/conda-pack/issues/78#issuecomment-513335641).

This may have happened when we moved `tomopy/` from the source root to `source/`.

[2019-07-21 00:57] #432 closed

[2019-07-22 01:37] carterbox commented on #432
I added the requirement that `numpy>1.12`. However, it wasn't technically necessary if you're using the most recent build of `scikit-image` from the `conda-forge` channel; that package already requires `numpy>1.14`.

[2019-07-22 06:18] carterbox commented on #430
Could you please show us your conda environment?
Could you also try importing NumPy without importing TomoPy?

[2019-07-23 07:27] schlepuetz opened #436 "gridrec in tomopy.recon() produces Segmentation Fault (11) on MacOS 10.14.5, py3.7.3"
**Describe the problem**
Running tomopy.recon() with the gridrec algorithm results in a segmentation fault (11) on MacOS 10.14.5 and python 3.7.3. All other algorithms seem to work fine.

**To Reproduce (if applicable)**
Install the tompy short course (https://github.com/tomography/tomopy-short-course) conda environment.

Run the following commands in that environment (assuming you have already cr

[2019-07-26 05:20] carterbox commented on #428
I've met a few more people at ICTMS this week that are interested in TomoPy for its preprocessing features, but not reconstruction (because they use fan or come beam). Thus they don't necessarily need the features that MKL and OpenCV provide.

@jrmadsen Do you have time to implement this (Making dependencies optional not replacing MKL FFT)?

[2019-07-27 17:15] jrmadsen commented on #428
@carterbox I have made significant progress on a semi-redesign that more-or-less implements a backend scheme for the CUDA/OpenCV implementations. Unfortunately, my GPU clusters are undergoing to maintenance so I won't be able to do full testing until later next week.

Could you handle making MKL optional in the source (and sort out any potential issues)? You can commit directly to the branch on my

[2019-07-28 18:06] newville commented on #428
@jrmadsen  @carterbox

OK.  I think having tomopy on PyPI and readily installable with pip would be helpful to many people.

Yep. I'm not sure anyone here thinks of `conda` as Python-only.  As an aside: if `scikit-build` is a requirement for installing `tomopy`, you could (probably "should") just list that in the `install_requires` or `setup_requires` argument to `setup()`.

Re: reducing dependenc

[2019-07-29 12:01] carterbox commented on #428
@jrmadsen Thanks for the hints. I will put this on my list of things to do this week, but if I run into trouble, it will have to wait until August 18 because I'm attending a wedding and conferences.

[2019-08-01 01:24] carterbox commented on #428
I published some commits, but I haven't tested them yet because I'm having conda troubles. I will copy them over to jrmadsen/tomopy when I have completed the tests.

[2019-08-01 05:44] carterbox commented on #428
I tested on Linux only. It is now possible to build without MKL. In such a case, `gridrec` will exit and print a helpful error message. Tests will not complete with the no MKL build because the `gridrec` error is not a Python error. If we ever replace `ctypes` with `pybind11`, then we can use a C++ exception instead of `exit()`.

[2019-08-01 06:01] #434 closed

[2019-08-01 06:04] carterbox commented on #428
Actually, there is some interaction between PTL and MKL that I don't understand. For some reason, I made it not possible to build with both PTL and MKL simultaneously.

[2019-08-01 08:18] meetaig opened #437 "Ring artifact removal shifts part of image"
**Describe the problem**
When using the ring artifact removal `tomopy.misc.corr.remove_ring`, part of the image gets shifted by a few pixels. This might be due to me not using it correctly, or it might be a bug.

**To Reproduce (if applicable)**
Just use the `remove_ring` as outlined in the documentation.

[code]

**Expected behavior (if applicable)**
The resulting image should have ring artifacts

[2019-08-01 15:59] carterbox commented on #437
@lbluque, Can you help with this?

[2019-08-02 16:23] lbluque commented on #437
Sure thing. Once I find a bit of time, I'll have a look.

[2019-08-02 19:01] decarlof commented on #425
@jdgelb as mentioned by @dgursoy you can just shift with:

[code]
assuming you had a 1024 detector (512 - 484) = 28

[2019-08-05 21:09] smajee opened #439 "Error: install from source in macos"
Installation error in mac os when running:
`python setup.py build`
Dependencies have already been installed.

Error happens in the PTL module.

gcc details:
`gcc --version
Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.11.sdk/usr/include/c++/4.2.1
Apple LLVM

[2019-08-06 01:29] jrmadsen commented on #439
It looks like your Xcode SDK is pretty out of date (v10.11 instead of v10.14) so you've likely got an older compiler without robust C++11 support. Try upgrading Xcode or passing `--disable-tasking` as an extra argument to the `python setup.py install`

[2019-08-06 05:57] smajee commented on #439
Passing `--disable-tasking` solved it.
Thanx.

[2019-08-06 05:57] #439 closed

[2019-08-06 17:27] smajee opened #440 "Install error in linux (install from source)"
Error during installation from source in a linux cluster.

Steps performed:
1.   Download: `wget https://github.com/tomopy/tomopy/archive/master.zip`
2.  Unzip and cd to tomopy directory
2.  Create new environment: `conda env create -f envs/linux-36.yml`
4.  Install tomopy: `pip install .`  (ERROR)

Error happens in cmake.

Error details:
[tomopy_install_error.txt](https://github.com/tomopy/tomopy

[2019-08-06 17:44] prjemian commented on #440
Did not see you name the new environment (with -n my_new_envo or
similar).  Is that in the YAML file?

On 2019-08-06 12:27 PM, Soumendu Majee wrote:

[2019-08-06 18:02] smajee commented on #440
Yes, the environment name is sourced from the linux-36.yml file.
The name is set to tomopy in the first line of  linux-36.yml.

[2019-08-06 19:17] carterbox commented on #440
You can't build from the github tarball because it doesn't include PTL. Maybe disabling tasking will work? Otherwise, you need to use git to checkout the repository.

[2019-08-06 19:45] smajee commented on #440
Is there a way to accomplish this without cloning from git?
I don't have the necessary permissions to do git clone in the machine.

I have tried cloning it in another computer and then transferring the files, but this leads to errors since git clone downloads files specific to the machine os.

[2019-08-06 20:33] smajee commented on #440
That worked.
Thanx.

[2019-08-06 20:33] #440 closed

[2019-08-09 21:20] carterbox commented on #121
At the very least, all iterative algorithms should be logging the value of their cost function at each iteration so that we can know if something has converged.

[2019-08-09 21:27] #430 closed

[2019-08-14 17:15] carterbox opened #443 "Absorb functions from derelict packages using CUDA"
The `tomopy.recon.acceleration` module which implements a wrapper for the [ `tomopy_peri` ](https://github.com/PeriLLC/tomopy_peri_0.1.x) package is derelict. It has not been updated in 4 years, and there are no references to it in the documentation. It claims to implement pml_quad, pml_hybrid, ospml_quad, ospml_hybrid algorithms with CUDA.

We should evaluate this plugin module. If it is broken,

[2019-08-20 04:12] oobie2142 opened #445 "Tiff Stack TomoPy Reconstruction"
**Describe the problem**
I am having a problem with reconstruction of a sample using side profiles. Attached is the image of what I want to reconstruct, sample output, and a sample of a projection I have as data. Am I misunderstanding how the algorithms work? Or do I have to alter the way Tomopy understands the axis of rotation for my specific specimen?

Thanks!

**My Code**
[code]
![IMG_0699](htt

[2019-08-20 04:13] oobie2142 commented on #445
My apologies I forgot to add that I am using a tiff stack for these projections.

[2019-08-20 17:54] carterbox commented on #445
It looks to me like you're using the API correctly. What rotation center does `tomopy.find_center(...)` actually return? Optimization methods can be unstable and return something wildly wrong.

The automatic methods may not work for your object. If that's the case, you can use `tomopy.write_center(...)` to manually find the correct rotation center.

[2019-08-20 20:01] oobie2142 commented on #445
Hey @carterbox thanks for the reply. I got a center of approximately 430. The slice given is the 400th slice of the reconstructed object. The data is 422 X 876, should I trim off the extra white space?

Also are there rules of thumb in determining which algorithm to use?

[2019-08-20 20:59] carterbox commented on #445
Yes to trimming vertically. There's no point in reconstructing empty slices! :smile:

No rules of thumb that I know. If you're super interested, you can read the cited sources in the docs. Otherwise, just work your way down the list? Make sure you're finding the center of a slice that actually has object in it and check that your angles are defined correctly.

Let me know if it works or not.

[2019-08-20 21:01] oobie2142 commented on #445
I will give it a shot and report back.

Thanks!

[2019-08-20 21:30] carterbox commented on #443
https://github.com/kyuepublic/tomocuda

Is another project which uses CUDA and is imported from an external package.

[2019-08-21 04:37] oobie2142 commented on #445
![sample_crop](https://user-images.githubusercontent.com/7355790/63402901-41554d00-c39a-11e9-89c9-7bf24965c380.png)
![reconstruct](https://user-images.githubusercontent.com/7355790/63402904-43b7a700-c39a-11e9-98f3-67c5221301c4.png)

Hey @carterbox,
Attached is the sample cropped image of my data and a reconstruction. I used the filter back projection algorithm for this reconstruction. Would the di

[2019-08-21 16:25] carterbox commented on #445
The phase effects from a large detector distance wouldn't appear like this. I don't know if you're using the angle method correctly because you haven't shown me how you're using it.

- [ ] Are you collecting transmission tomography? Linearize the problem by taking the negative log of your projection data (`tomopy.minus_log()` after normalizing for dark and white field)
- [ ] TomoPy only supports p

[2019-08-21 17:23] oobie2142 commented on #445
https://drive.google.com/open?id=1ZnKa7y_iX0F9HT_2G1naUXA-sUMXEcJl
Here is the data I am using.

I will try with only the vertical crop later today and post results. The data collected was in a parallel beam set up so I don't think there should be a problem in that regard. The way I used the angle method was
`ang = tomopy.angles(900, ang1=0, ang2=360)`
since I took samples for a full rotation of t

[2019-08-21 19:41] carterbox commented on #445
It seems that your original problem, as I stated earlier, is that you were looking at a slice that did not have any sample.

The second problem that you were having is that when you trimmed your data horizontally, you removed part of the sample and made a new center of rotation.

Use the manual finding center function. Use a slice that has sample to find the center.

The image below shows a slice

[2019-08-21 20:15] carterbox commented on #422
How can we make these fallbacks detectable by our testing suite such that automated tests are skipped when CUDA hardware is not available?

[2019-08-21 20:26] oobie2142 commented on #445
Oh snap! Thanks a bunch! Which sample image did you specifically use to find the center.
Is the steps for reconstruction as follows? I want to make sure I nail this down before I try other reconstructions.

1. Normalize against a flat and dark projection
2. Find Center
3. Take the -log() of the normalized projection
4. Reconstruct with center calculated from step (2)

[2019-08-21 20:57] jrmadsen commented on #422
As in not generate a test in PyCTest at all?

[2019-08-21 21:14] carterbox commented on #422
I'm talking about correctness/consistency tests located in `tests/`

https://github.com/tomopy/tomopy/blob/1a5efd87d8af1047cb25a2d5d031e1649597a287/test/test_tomopy/test_recon/test_algorithm.py#L150-L155

I want to be able to automatically test the pre-built w/ CUDA conda distribution for correctness. As far as I know, the `pyctest` script is not implemented with this use case in mind.

[2019-08-21 21:26] carterbox commented on #445
I didn't find the center. I used the center you suggested (430). The image above is of slice 200.

Those steps seem like the correct order, but reconsider step 3. I'm not sure that whatever particle you are using is attenuated following the [Beer-Lambert law.](https://en.wikipedia.org/wiki/Attenuation_length). When I took the -log() of your data there were some negative values. Or maybe the exposu

[2019-08-23 05:39] oobie2142 commented on #445
@carterbox I still seemed to not be able to reconstruct the same image as you. I cropped only the vertical space and left the sides. I performed the normalization and reconstructed with an eyeball center of 400. The slice plotted is the 100th slice. I used the gridrec algorithm to reconstruct. Would it be possible to see the script/code you used in replicating the images above?

![Test_Crop](https

[2019-08-23 16:58] carterbox commented on #445
[code]

[2019-08-24 01:09] decarlof commented on #445
There are some issue with the normalization as the background is fluctuating  quite a bit during data collecting. This has two effects:

a) normalization with an average white field is not sufficient to compensate as you can see in sinogram horizontal lines:

![image](https://user-images.githubusercontent.com/5884150/63630348-5ec72880-c5df-11e9-82ed-baa4eddd4c90.png)

b) the subtraction of the dar

[2019-08-29 03:04] oobie2142 commented on #445
For the write_center does it make a tiff file with the center for each projection? Currently using the write_center method it only produces 20 images with the center as the name for the file.

[2019-08-29 15:15] carterbox commented on #445
You provide `write_center` with a range of centers to try, and it reconstructs a single slice with all of the centers in that range. Each of the reconstructions is named by the center that was used to make it. You look at the reconstructed images and choose the one that has the correct center.

[2019-09-10 14:42] canismarko opened #446 "Astra CUDA recon with GPU still uses CPU"
**Describe the problem**
We're trying to do a reconstruction using the astra toolkit through tomopy with CUDA. On a linux machine this works as expected, but on our windows machine the reconstruction uses the CPU, making it considerably slower.

**To Reproduce (if applicable)**
Create a new conda environment and install tomopy and astra-toolbox (1.9dev). Load data using dxchange, do some pre-proce

[2019-09-10 15:59] carterbox commented on #446
Hey @dmpelt, could you please help debug this? I don't have a Windows machine with CUDA compatible GPU yet.

[2019-09-11 19:44] dmpelt commented on #446
I'm not sure we ever tested the ASTRA integration using CUDA on Windows, although I don't really see an immediate reason why it wouldn't work... Have you tried running the ASTRA examples on GPU and seeing whether the GPU is indeed used then?

[2019-09-11 19:58] canismarko commented on #446
@dmpelt You mean the pure astra examples [here](https://github.com/astra-toolbox/astra-toolbox/tree/master/samples/python)? I have not tried those, no, so I'll see if that runs on the GPU or CPU and report back.

[2019-09-11 20:29] jrmadsen commented on #446
Whether or not ASTRA is using the CPU vs. GPU on Windows would definitely seem like either an ASTRA issue. Or possibly just an ASTRA configuration issue. But, based on my experience, I would be more likely to believe this is an ASTRA issue, not a tomopy issue.

If the ASTRA examples do not run on the GPU and Windows, the answer is obvious but if they do run on the GPU on Windows, you should just t

[2019-09-12 18:10] cryos opened #448 "Minimal dependencies to build tomopy for reconstruction"
**Describe the problem**
We are looking at the best way of adding TomoPy to Tomviz.  We have a Python environment with Python 3.7, SciPy, NumPy, and have a PR to add h5py. The dependency set looked larger than expected, including OpenCV and several other components. What is the minimal set of dependencies/build configuration to support reconstruction?

**Expected behavior (if applicable)**
Ideally

[2019-09-13 16:57] newville commented on #448
@carterbox Hm, well OK.  I have definitely had more struggles with conda than with pip in the past couple of years.   MKL and OpenCV are on PyPI.  I have not tried building tomopy with PyPI only tooling, but I don't know why it would not work.

If I understood the original question, the Tomviz project was asking how they could include tomopy as a dependency.   I'm in the same position, and I can s

[2019-09-13 17:22] jrmadsen commented on #448
If you can install all the dependencies from PyPi, you can get the latest distribution and not depend on conda-forge via `git clone https://github.com/tomopy/tomopy.git tomopy-tmp && pip install ./tomopy-tmp && rm -rf ./tomopy-tmp`

[2019-09-13 17:27] jrmadsen commented on #448
Supporting multiple distribution centers _is work_. For frameworks, APIs, etc. like MKL and OpenCV, it makes sense to support multiple distribution methods. For applications developed primarily by domain scientists (like tomopy), it is asking quite a bit of them to officially support multiple modes of distribution.

[2019-09-13 18:33] newville commented on #448
@jrmadsen Thanks, though building from the source kit is not something I usually find challenging ;).  FWIW, using Python.org Python 3.7 on MacOS and installing `opencv-python`, `mkl`, `mkl_include` and `tifffile` I did manage to build tomopy and pass `pytest`.  I have not tried this on Windows or Linux.  Maybe "yet".  I guess if you all are committed to not pushing tomopy packages to PyPI that I

[2019-09-13 18:57] jrmadsen commented on #448
It wasn't my intention to suggest that you weren't familiar with the work involved in packaging/distribution. Sorry if it came across that way.

I guess I don't really consider tomopy a library because it does not support _building_ against it's headers/library like MKL, OpenCV, etc. but that I probably a skewed C/C++ viewpoint bc it does provide functionality one can build other tools from.

[2019-09-13 19:45] dgursoy commented on #448
I think one main distinction of TomoPy from others is that there is no coordinated effort of the contributions in TomoPy. Developers are often domain scientists, who develop a piece of code for a specific function, and we simply capture these independent efforts in TomoPy through PRs. This means that the package is not developed by few individuals, who have more control on these kind of choices. A

[2019-09-13 20:04] canismarko commented on #446
Ok so I went back to try some of the things that were recommended here, and now it uses the GPU as expected. No idea what changed.

I'm closing this issue, and thanks for your suggestions.

[2019-09-13 20:04] #446 closed

[2019-09-13 20:18] canismarko commented on #425
I think the @jdgelb astra issue is different from the tomopy GPU. I was getting ready to open a new issue but since it's related I'll post it here.

In the astra implementation, tomopy accounts for the *center* parameter by [setting the *ExtraDetectorOffset* option](https://github.com/tomopy/tomopy/blob/139f4e82beea6b6dbdf54b9f531215d42dc59b5b/source/tomopy/recon/wrappers.py#L192) on the projectio

[2019-09-16 04:13] newville commented on #448
@jrmadsen Hm, tomopy *is* a library just like MKL and OpenCV, and it supports building against its headers/library (well, its defined interface and the implementation of that, anyway). Just like in Java, the "import" statement replaces C's "include" to mean use the API from a *library*.   In fact, tomopy is *only* a library. There is no main() entry point and all users are expected to write code t

[2019-09-16 17:08] cryos commented on #448
I think the idea of a minimal and a complete build would be very useful. I don't want to place too much burden on the tomopy team, and there are other paths for us to work on such as using a miniconda-based Docker image in our workflows. I think that tomopy is a Python library, and that is how we want to use it. Anything we can do to make the packaging simpler when not all features are needed woul

[2019-09-19 22:55] carterbox opened #449 "Modularize reconstruction algorithms using entry points"
There has been much discussion about reducing dependency lists recently, and this is because all of the built-in TomoPy algorithms are compiled into a single binary. With this structure, it is impossible to offer TomoPy with less dependencies without rebuilding it. Here, I am proposing to separate all of the compiled (non-python) algorithms into separate _plug-ins_ which could each be built once,

[2019-09-19 22:57] carterbox commented on #449
This could also lead to the TomoPy core package becoming `noarch` (platform and architecture agnostic).

[2019-09-21 01:29] TristanDoherty commented on #436
I have the same segmentation fault 11 when performing a gridrec reconstruction:
MacOS 10.14.6
Python 3.7.4
TomoPy 1.7.0 py37h3020249_100

as well as:
MacOS 10.14.6
Python 3.6.9
TomoPy 1.5.2 py36h770b8ee_2

[2019-09-22 19:12] newville commented on #449
@carterbox  Which reconstruction methods would be available in a python-only version of tomopy?

Personally, I would be OK with Python + Gridrec.  I might even be OK with Python + Gridrec using just the FFT methods guaranteed to be available with numpy (not MKL or FFTW).  Currently, that is significantly slower than MKL, but my understanding (no direct personal experience) is that the FFT to be us

[2019-09-22 22:05] carterbox commented on #449
@newville None. There are no python-only reconstruction methods, but users that I have met at conferences are only interested in TomoPy for its distortion correction methods because they do not have a parallel beam geometry.

[2019-09-22 22:56] dgursoy commented on #449
+1 to Python + Gridrec

[2019-09-23 14:40] malte-storm opened #450 "BUG: tomopy.recon center array does not work properly"
Hello,

passing an array with different centers for different slices (for center finding) does not work as expected.
The center does not get updated for every slice if I use a single call with a list of slices and an array of centers. I tried to chase the problem through the code and as far as I can tell, the "center" is correct up to the call of "algorithm" in "_dist_recon" (in tomopy.recon.algor

[2019-09-23 14:53] malte-storm commented on #450
After some additional testing: The bug must be in the algorithm implementation of gridrec because it works fine if I change the chunking to nchunk=1 or with other algorithms (art, fbp)

[2019-09-23 18:24] carterbox commented on #450
I agree that the centers are being passed to the c-functions with correct slicing. The centers seem to  match the slices being passed to each call to gridrec.

https://github.com/tomopy/tomopy/blob/139f4e82beea6b6dbdf54b9f531215d42dc59b5b/source/tomopy/recon/algorithm.py#L388-L396

The claim is that the variability of the reconstructions is caused by a difference in how the centers are handled. Ho

[2019-09-23 18:31] carterbox commented on #450
@malte-storm Do you have any reason to believe that the **wrong** center is being used for some all slices? Or it it just that the reconstructions are not consistent within a small enough range of precision?

[2019-09-24 08:33] malte-storm commented on #450
Yes, I believe the wrong centers are used. In your example, testing one set of recons for consistency yields:

[code]
And if one looks at the actual images (e.g.
![rec1b_comparison] (https://user-images.githubusercontent.com/10544058/65494471-d2917500-deac-11e9-853e-103157e82a64.png), there are some differences in the corners but the rest of the image is "similar" for pairs whereas I would expect

[2019-09-24 21:22] carterbox commented on #450
The problem is that, slices are processed in pairs using the same center. Thus, the centers will be wrong for odd numbered slices any time a volume is processed in bulk.

To illustrate this quirk, let's use the following example where a different center is used every third index.

[code]

![Figure_1](https://user-images.githubusercontent.com/9604511/65550053-63377780-dee4-11e9-850e-1ee5bd6ec9d5.pn

[2019-10-07 09:14] nghia-vo commented on #415
@ankitaeclipse : I've tried stripe removal methods on cone-beam data and it works pretty well. To do that you generate a 2D image combining each row of every projections (called sinogram in parallel-beam). Apply stripe removal method to this image (try remove_all_stripe method). Do the same for all sinograms. Then apply FDK on this data to get reconstruction images. The disadvantage of this approa

[2019-11-01 17:45] jakirkham opened #451 "Adding CUDA to CMake languages"
**Is your feature request related to a problem? Please describe.**

The new standard with CMake CUDA support is to add CUDA as a project language. IIUC this is not being used in this project currently. Would be good to switch to CUDA as a project language to avoid issues with legacy CMake CUDA support.

**Describe the solution you would like.**

Should result in adding [CUDA to this line]( https:/

[2019-11-01 19:13] jrmadsen commented on #451
TomoPy uses the modern version of CUDA and CMake. You cannot add CUDA to the first line bc that would make it such that a CUDA compiler would be required, which it isn't. CUDA is optional. If you look through the CMake, you'll find the language is enabled later. Your compiler issues are likely something lower level like your C++ compiler isn't supported by NVCC under the hood

[2019-11-01 19:25] jakirkham commented on #451
That's great to hear! Thanks for letting me know. 🙂

Where does this get set exactly?

[2019-11-01 20:39] carterbox commented on #451
We use both the `find_package` and `enable_language` commands in this file.

https://github.com/tomopy/tomopy/blob/193151fd5ddb35f4523d975b12cf448a6b55c2fe/cmake/Modules/Options.cmake#L25-L37

Maybe we should be using [check_language](https://cmake.org/cmake/help/v3.12/module/CheckLanguage.html#module:CheckLanguage) instead of `find_package` because CUDA is was upgraded from package to full-langua

[2019-11-01 21:24] jakirkham commented on #451
Well it kind of does because both `find_package` (the old way of configuring CUDA support) and `enable_language` (the new way of configuring CUDA support) are being used at the same time. Seems like this would cause some surprising behavior as they are not intended to be enabled at the same time as each other. Switching to `check_language` seems like a good idea.

[2019-11-02 02:30] jrmadsen commented on #451
A find package just sets local and cache variables and some macros/functions. Some of those cache variables are also set by the enable language. There is no conflict when using the find package to set the cache variables, the issues arise from using the macros and functions to build CUDA targets, and that is not done. The system for both being used is bc, at the time, simply doing the check and en

[2019-11-20 16:38] carterbox opened #452 "2020.04.26 Intern - SULI"
I am [writing a project proposal](https://docs.google.com/document/d/1fYKdYe_87yAkXHk-QgIB0YxkD3v6H1d4V29qO-LakZc/edit?usp=sharing) for an undergraduate intern to refactor TomoPy. My current proposal addresses the following issues: #428, #449, #448, #422

Since, this is a very public project, I am posting the proposal for public feedback, and so no one is surprised in a few months when code is mov

[2019-11-21 17:05] nghia-vo opened #453 "Gridrec: padding isn't applied for a specific size of the sinogram & an issue with smooth filters"
Problem 1:
   When reconstructing a sinogram with the size of 1024 x 1024, gridrec doesn't apply padding. This results artifacts. I guess this may relate to how padding is used to optimize the performance of the fft.
   If the size of the sinogram is changed to 1024 x 1025, padding is applied and the reconstructed image looks good.
![Compare](https://user-images.githubusercontent.com/12136997/6935

[2019-11-21 18:42] carterbox commented on #453
Thanks for reporting this bug. I'm don't have a full understanding of direct Fourier methods yet, so I'm not sure I would be able to help with this, but maybe @oleksandr-pavlyk has time for a quick patch or can explain if this is related to performance optimization?

[2019-11-21 20:32] nghia-vo commented on #453
I think the problem 1 comes from these lines:
[code]
of this file: https://github.com/tomopy/tomopy/blob/193151fd5ddb35f4523d975b12cf448a6b55c2fe/source/cxx/gridrec.cc

If dx = 1024, then pdim stops at 1024 which means there's no padding. Change condition to
`for(pdim = 16; pdim <= dx; pdim *= 2);`
should fix the problem.

[2019-11-22 19:48] carterbox commented on #453
We're actually still shipping the C version of gridrec not the CXX version, but it should be updated in both places. I don't know why @jrmadsen created a CXX version of gridrec or what the status of it is.

@nghia-vo, Can you build, test, and open a pull request for this proposed change?

[2019-11-22 22:40] jrmadsen commented on #453
If I remember correctly, the CXX version is required for MSVC. I remember there being some reason we kept both but for the life of me, I cannot remember why.

[2019-11-23 19:18] carterbox commented on #453
It probably has something to do with complex types because CXX defines a cross-plaform complex type.

[2019-11-25 10:51] nghia-vo commented on #453
@carterbox, @dgursoy , @decarlof : The problem (artifacts) remains if the sinogram width is 2000. This means that it will be padded to the size of 2048. Padding of 48 pixel is not enough. In direct Fourier method (DFM), padding is critical to improve the accuracy of the interpolation in the Fourier domain. More padding, more accurate, less artifacts (page 11 [here](https://pdfs.semanticscholar.org

[2019-11-26 04:05] newville commented on #453
@nghia-vo FWIW, zero-padding really doesn't improve the accuracy of a discrete Fourier transform so much as it imposes smoothness.  It is (quite literally) asserting that you know the values beyond the supplied data range are zero (and have no noise).  Without zero-padding you are saying that the values are unknown.  In the sense of ignoring the noise, zero-padding might reduce the fidelity of the

[2019-11-26 07:00] nghia-vo commented on #453
@newville : I mean that padding improves 'the accuracy of the interpolator' in the Fourier space, not about the accuracy of the discrete Fourier transform. As we known padding improves the smoothness, so it helps to reduce the interpolation error.

[2019-11-26 15:28] dgursoy commented on #453
[Here](https://dsp.stackexchange.com/questions/741/why-should-i-zero-pad-a-signal-before-taking-the-fourier-transform) is a nice discussion about padding.

Extra zero-padding was removed in the past to save some computation time, but maybe we should make it optional. So instead of doing:
[code]
we can have something like:
[code]
I suggest we have this padding option in the Python level before we c

[2019-11-26 16:28] nghia-vo commented on #453
@dgursoy If the performance of fft no longer depends on the size of power of 2 then making padding optional is the right choice.
- I've tried filter_par=0.9, the artifacts gone. Tried with others window too and saw that the Hamming window also gives extra artifacts if using the default value. Maybe we should update these default values.

[2019-11-26 16:35] newville commented on #453
@nghia-vo  zero-padding does not improve the accuracy and it does not reduce interpolation error.  It *causes* interpolation where there was none before. That is, it gives a smooth interpolation between points that would be undefined in a non-zero-padded signal.   If you are going to interpolate, zero-padding with a DFT is an efficient way to do that and gives predictable smoothing.  It's a very c

[2019-11-26 16:49] nghia-vo commented on #453
@newville : I believe we're talking about two different things here. In direct Fourier methods (DFM) for tomography, one has to convert measured data, in the Fourier domain, from polar grid to the Cartesion grid. This is the interpolation I'm talking about.
This [presentation](https://pdfs.semanticscholar.org/c8be/6c8fd675c98133acc04b0c6cc58b7bc1e9cf.pdf) reviews nicely about different ways of doi

[2019-12-20 03:07] carterbox commented on #452
Only some extension functions find their wrapper simplified by switching to pybind11. These are functions such as downsample/upsample which are have three layers: `python -> python + ctypes -> c`. Other functions, such as the reconstruction algorithms, do not obviously benefit from having their ctypes interfaces replaced with something else. We should just re-purpose the existing ctypes interfaces

[2020-01-08 20:40] jrmadsen opened #455 "DockerHub Account"
@carterbox @dgursoy

Is the name `tomopy` taken as a username or listed as an organization on hub.docker.com? I can't find any public docker images so I think, at some point, we may have created this and never set it up or something. I don't have a login stored in my keychain anywhere it seems. Could y'all search y'all's email for anything from docker hub related to this? Or try logging into your

[2020-01-08 20:44] jrmadsen commented on #455
Oh and also, what do y'all think about creating a tomopy/docker repo? This would help enabling the automation of the docker builds. If so could y'all create it and give me write access? Or maybe just add me to the tomopy organization here on github and I will take care of that stuff.

[2020-01-08 20:55] jrmadsen commented on #452
@carterbox I would expect that _everything_ in `tomopy/util/extern.py` and `tomopy/util/mproc.py` would be simplified. And adding extensions to call compiled work would be greatly simplified too.

Also, the backend support for FFT stuff for the gridrec would probably be easier too bc you would make that decision at compile time instead of trying to figure out from Python whether the module was com

[2020-01-08 21:13] carterbox commented on #455
I do not control any DockerHub accounts. If Doga hasn't responded to this issue by Thursday night, I will track him down in person on Friday.

[2020-01-08 21:15] jrmadsen commented on #455
Ok thanks

[2020-01-08 21:19] carterbox commented on #455
TomoPy is not an organization (it's a regular user account), and I don't have access to the account anymore. Maybe it should be converted to an organization. I'll ask about that too.

[2020-01-08 21:28] carterbox commented on #452
Francesco also suggested that we do something like the [areaDetector](https://github.com/areaDetector/areaDetector) repo. Where each of the new namespace-packages has its own repo which is linked to the main repo. However, I'm uncertain about this approach because it means all of the source-code is not included in the release tarball, and it may make issue tracking more complicated.

[2020-01-08 21:35] dgursoy commented on #455
I have the Docker account for tomopy. We had it set up in the past for Win users. I will add you as admins.

[2020-01-08 21:56] jrmadsen commented on #452
Yea git submodules are great with the sole exception of that release tarball. The only work-around I can think of for that is to basically generate a metadata file for each submodule that encodes the repo url and revision and putting something into CMake that reads that file and clones/checks out the submodules when the `.gitmodules` file is not present (such as when in a release).

[2020-01-12 21:40] decarlof commented on #453
We apply padding in our [reconstruction script](https://github.com/decarlof/tomopy-cli/blob/6fd87b4c3023364bfe506446eac0d5c540cc5c53/tomopy_cli/recon.py#L113).

[2020-01-15 10:57] PaulVoland opened #456 "Center of rotation correction - algorithmic details"
Dear TomoPy team,

I am currently working with the ASTRA toolbox for my master thesis at the University of Stuttgart at the chair of continuum mechanics of Holger Steeb. Since there is a need to correct center of rotation misalignments, I tried out the coupling of TomoPy with the ASTRA toolbox, which works quite good to find the horizontal misalignment value. Since we want to use the 3D reconstruc

[2020-01-15 17:18] carterbox commented on #456
Hi @PaulVoland,

I can't help you with MATLAB things because we don't currently provide MATLAB bindings to our compiled code. However, I can answer all of your questions:

- Yes, all the reconstruction algorithms that are callable through `tomopy.recon()` are for parallel beam only.
- We have [documentation](https://tomopy.readthedocs.io/en/latest/api/tomopy.prep.alignment.html) for our entire API

[2020-01-15 17:23] dgursoy commented on #456
Also I believe you can set-up ASTRA for cone-beam reconstruction and call it from TomoPy. You need to set the geometry as you wish and pass these options as a dictionary.
[code]

[2020-01-15 18:04] carterbox commented on #423
@dgursoy, What about x-ray diffraction tomography?

[2020-01-15 19:56] dgursoy commented on #455
@jrmadsen please send me your Docker ID through e-mail.

[2020-01-15 20:01] dgursoy commented on #433
Related to #456 for calling ASTRA projectors on different geometries.

[2020-01-15 20:01] dgursoy commented on #423
Not much yet. Sorry.

[2020-01-15 20:01] PaulVoland commented on #456
Thanks for your quick answers!

I'm not quite sure if your answers perfectly fit to my problem in the following sense:

You answered the first question with a yes (only parallel beam reconstruction algorithms) @carterbox (which was also my understanding of TomoPy up to now). I just tried out to pass some options like
`recon = tomopy.recon(stack, theta, center=rot_center, sinogram_order=True, algor

[2020-01-15 20:11] dgursoy commented on #456
Are you trying to find the find the center of rotation or are you trying to align the projection images with respect to each other assuming that each one is distorted independently? Because the former is easy and you need to find one single scalar value. But the latter is harder and requires knowing alignment parameters for each projection image.

No I don't think we have a limitation on calling d

[2020-01-15 20:56] PaulVoland commented on #456
I'm rather interested in the "calculation mechanism" of correcting one single projection at a given angle with a known/given/algorithm-estimated center of rotation (misalignment) than in finding the location. In a first step, I would like to perform a correction for a fan beam setup (with flat detector). Let's assume we have a rotation axis which is perfectly vertically aligned (parallel to the z-

[2020-01-15 21:17] dgursoy commented on #456
Often, you don't touch the projection images. The reconstruction algorithm "back-projects" these images to the corresponding object pixels based on the rotation center.

However, it is also fine if you want to pre-process by either padding or cropping the projection images based on the known rotation center such that the rotation center comes to the middle of the projection image.

And finally, if

[2020-01-15 22:07] carterbox commented on #456
@dgursoy  is mistaken. Our wrapper of ASTRA does not allow non-parallel projection geometries. The wrapping code is found here:
https://github.com/tomopy/tomopy/blob/58b8b2d324a6d27dfa9954ee073a9044c2f87695/source/tomopy/recon/wrappers.py#L187-L188
and as you can see, the projection geometry is hard coded and inaccessible to the user through the `tomopy.recon()` interface.

The correct way to acco

[2020-01-15 23:00] newville commented on #423
@YoshieraHuang  we have used tomopy for reconstructing both fluorescence and diffraction tomography data.  I would say that for fluorescence tomographic data the results are successful - there can be large attenuation factors but these are mostly smooth.  They inhibit an accurate quantitative analysis of the XRF spectrum to get elemental abundance per voxel.  To first order, these effects can be u

[2020-01-16 23:54] ssomnath commented on #428
Hello @jrmadsen and @carterbox. I would like to build tomopy for multi-GPU reconstruction without MKL for an IBM Power 9 Linux machine. For obvious reasons, I cannot use the X86 conda channels and have been building the dependencies manually by following [these instructions](https://gist.github.com/lbluque/1bed77425fc531a882cfcca68dd3cb6e).  I am very new to tomopy and would appreciate your guidan

[2020-01-17 17:40] carterbox commented on #428
@ssomnath Please reach out to [Lukas Vlcek at ORNL](https://www.ornl.gov/staff-profile/lukas-vlcek). He is already working on porting TomoPy to POWER9, and we had an email exchange a few months ago about he should proceed with that work. Also, (as far as I know) @jrmadsen 's fork has no POWER9 related features, so basing your work on his unmerged commits is not advised.

That gist is out of date a

[2020-01-17 18:02] ssomnath commented on #428
Thank you very much @carterbox. I am actually taking over Lukas' work and coincidentally received a copy of your communication with him today.

We are not looking for a POWER9 optimized, just one that allows for multi GPU but doesn't require MKL as a hard dependency. We will pass on any feedback with regards to building (and optimizing) on POWER. Yes, I did see that you are hoping to recruit a sum

[2020-01-17 23:58] RealPolitiX opened #459 "Enable GPU support on Windows computer"
I tried building tomopy 1.70 on a Windows 10 computer to enable CUDA support (python version 3.6.8, conda version 4.8.1). I got the following error,
"error: pathspec 'source/PTL' did not match any file(s) known to git"

I tried building PTL locally using CMake, which worked, but then the above error still exists and affects the building of tomopy. What should I do?

[2020-01-18 00:21] carterbox commented on #459
Check your source directory. If the `tomopy/source/PTL` directory is empty, then you didn't checkout the [git submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules) before trying to build tomopy.

[2020-01-18 00:42] RealPolitiX commented on #459
Yes, the PTL folder is empty. What files should I put in there, all of PTL? Do I basically need to git-clone the PTL into this folder?

According to the .gitmodules under the tomopy folder, the program is supposed to fetch from https://github.com/jrmadsen/PTL.git

[2020-01-18 00:59] carterbox commented on #459
You don't put anything in there. Git does it. Initialize and update the PTL submodule using:
[code]
This will checkout PTL at the appropriate commit inside the `source/PTL` folder.

[2020-01-18 01:05] RealPolitiX commented on #459
OK, thanks, just saw it. I did the following to clone to recursively clone the latest repo
`git clone --recurse-submodules -j8 https://github.com/tomopy/tomopy.git`
and built tomopy again, it also worked

[2020-01-18 04:27] carterbox commented on #459
Good. Thanks for your patience; I thought git submodules were easier to set up.

[2020-01-18 04:27] #459 closed

[2020-01-20 11:47] nghia-vo commented on #456
@PaulVoland : So you would like to find center of rotation of a cone-beam tomographic data. The methods of calculating [center of rotation](https://tomopy.readthedocs.io/en/latest/api/tomopy.recon.rotation.html) in Tomopy are for parallel-beam. To use them, you need to convert your data (1 slice) from a fan-beam sinogram to a parallel-beam sinogram. The fan-beam sinogram can be used is the slice a

[2020-01-20 12:09] nghia-vo commented on #453
@decarlof : we can adapt them to tomopy. Remove the padding step in the C code and do it in python code instead. @dgursoy , @carterbox : Shall I do that or would you like to do that instead to make sure nothing gonna break?

[2020-01-21 12:30] #393 closed

[2020-01-21 12:31] lex62lex commented on #393
Sorry it took me a while to get back to this. The problem was idle3. Somewhere in the command stop was used and this automatically stopped the process. Running this directly in the environment made this work perfectly

[2020-02-11 16:03] CTPassion opened #463 "CT reconstruction from tiff stack"
**Describe the problem**
We have the following code using skimage that works fine to reconstruct slices of a pencil.

**To Reproduce (if applicable)**

[code]
This is the tiff stack of Flat Field Corrected images of the pencil.
<img width="269" alt="Screenshot 2020-02-11 at 15 45 13" src="https://user-images.githubusercontent.com/60933427/74252599-d0a64200-4ce5-11ea-87e8-4a9999fa9c1f.png">
This is

[2020-02-11 16:07] dgursoy commented on #463
We use radians for theta, not degrees. Could you give it a try with ```theta * np.pi / 180```?

[2020-02-11 16:09] CTPassion commented on #463
<img width="296" alt="Screenshot 2020-02-11 at 16 08 32" src="https://user-images.githubusercontent.com/60933427/74254751-c9ccfe80-4ce8-11ea-920f-8803cb6dc8d5.png">

This is the new slice, but there are still many in the stack which are blank as before.

[2020-02-11 16:15] dgursoy commented on #463
The link to the file doesn't seem to work. Do you have any other option to share the data?

[2020-02-11 16:17] CTPassion commented on #463
I've changed the link, if you copy and paste it it should work

[2020-02-11 16:40] dgursoy commented on #463
This should fix your problem:
[code]
Add these lines before the ```minus_log``` to remove effect of dead detector pixels. I believe it should be fine afterwards.

[2020-02-11 16:44] CTPassion commented on #463
Does 'prj' mean 'proj'? Since 'proj' is defined in the `minus_log`

[2020-02-11 16:46] dgursoy commented on #463
Sorry, like this then:
[code]

[2020-02-11 16:47] CTPassion commented on #463
Get the following error:

`File "ct_reconstruction.py", line 140, in main
    obj_stack /= 150. # normalize data to 0 and 1
TypeError: ufunc 'true_divide' output (typecode 'd') could not be coerced to provided output parameter (typecode 'B') according to the casting rule ''same_kind''`

[2020-02-11 16:48] dgursoy commented on #463
This is easy. Please convert your data to ```np.float32``` after you read it.

[2020-02-11 16:55] CTPassion commented on #463
Great, when I save it I get a tiff file thats completely black however, is this right?

`    io.imsave(str_save,recon.astype('uint32'),plugin='tifffile') `

[2020-02-11 17:00] dgursoy commented on #463
If you want to save int32, you should first scale the data between 0 and 255:
[code]

[2020-02-11 17:14] prjemian commented on #463
puzzling, [given](https://docs.scipy.org/doc/numpy/user/basics.types.html):

Numpy type | C type | Description
-- | -- | --
np.int32 | int32_t | Integer (-2147483648 to 2147483647)

Is this a tomopy restriction to range 0 .. 255?

[2020-02-11 17:16] prjemian commented on #463
Now my coment looks silly.  Until you see the email to which I thought I was replying:

![Clipboard01](https://user-images.githubusercontent.com/2279984/74260873-e43eb200-4cbf-11ea-8c79-f4ee49a68610.jpg)

[2020-02-11 17:19] dgursoy commented on #463
Sorry, I also realized and fixed just after I hit the comment button...

[2020-02-11 17:30] CTPassion commented on #463
Thanks guys, the image looks better already than my FBP using skimage.
<img width="276" alt="Screenshot 2020-02-11 at 17 28 10" src="https://user-images.githubusercontent.com/60933427/74262067-19fd8e00-4cf4-11ea-894b-8505df326083.png">
<img width="496" alt="Screenshot 2020-02-11 at 17 28 56" src="https://user-images.githubusercontent.com/60933427/74262078-1d911500-4cf4-11ea-964c-5c55eaddb3b9.png">

[2020-02-11 17:34] dgursoy commented on #463
Yes, it's a great pen! :-)

You can try other algorithms and pick the one you like. ```mlem``` or ```tv``` can give you a nice reconstruction but they might be a bit slow. Try it on a single slice and when you like the result, use the whole data maybe to speed up. Also you need to tune the regularization parameter for ```tv``` and some other algorithms. Good luck!

[2020-02-11 17:34] #463 closed

[2020-02-11 17:40] dgursoy commented on #463
Before I forget.. I just realized that your rotation center is off. Please try this center instead:
[code]

[2020-02-11 17:44] CTPassion commented on #463
Done, what does this do and how did you figure it out? Is this preferable to the `tomopy.findcenter`?

[2020-02-11 17:47] dgursoy commented on #463
This assigns a different center for each slice. Just by looking at your data I realized that your rotation axis is a little tilted from the vertical axis, so the slices at the top have different centers (138) than the one at the bottom (134). You can apply ```find_center``` to one of the top slices and another ```find_center ``` to one of the bottom slices and use interpolated values between these

[2020-02-11 17:53] CTPassion commented on #463
I see, that's useful thank you. I'm sure I'll have questions about artefact removal and getting a better image.

[2020-02-11 17:54] dgursoy commented on #463
Glad that it worked out. Cheers!

[2020-02-12 00:39] antimatter874 opened #464 "When using 'gridrec' algorithm for reconstruction, I get an error: 'Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)'"
When I run the reconstruction function, Tomopy.recon, using the 'gridrec' algorithm, I get an error:'Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)'
This error does not arise when using other algorithms, like 'art'.

**To Reproduce (if applicable)**

images are obtained from the paper: https://www.science-on-stage.eu/images/download/tmom_michalis_orfanakis_optical_ct_scann

[2020-02-12 16:43] carterbox commented on #464
This is a duplicate of #436

[2020-02-12 16:45] #464 closed

[2020-02-13 13:02] CTPassion opened #465 "Removing Artifacts"
**Describe the problem**
We have artifacts in our image (straight dark lines coming off the edge of the pencil).

<img width="220" alt="Screenshot 2020-02-12 at 15 17 30" src="https://user-images.githubusercontent.com/60933427/74437908-e12ef780-4e60-11ea-92c9-4e04ba6a45c7.png">

How can we use TomoPy to remove aritfacts?
[code]

**Platform Information:**
 - macOS
 - Python Version 3.7.4

[2020-02-13 20:30] carterbox commented on #465
I assume you are using a multi-energy x-ray source. In that case, those artifacts are [beam-hardening](https://radiopaedia.org/articles/beam-hardening?lang=us). While we don't have any algorithms specifically for beam-hardening, you will get a less noisy reconstruction using an iterative algorithm.

[2020-02-16 15:16] CTPassion commented on #465
Which algorithms on Tomopy should we use?

[2020-02-16 17:22] CTPassion opened #466 "Which algorithm/software to use?"
**Describe the problem**
We have tried all the tomopy.recon algorithms on a pencil and found gridrec works best

Gridrec w/ cosine filter:
<img width="504" alt="Screenshot 2020-02-16 at 16 43 30" src="https://user-images.githubusercontent.com/60933427/74609228-04b3a580-50e0-11ea-9b52-dc9c75b896e6.png">

We used imageJ volume viewer to produce the volume from the stack. This involves manually movin

[2020-02-17 01:51] decarlof commented on #465
How many projections did you collected and what is the detector size? I think there also some angular under sampling.  I agree with @carterbox beam hardening is the major artifacts. We have implemented beam hardening correction for synchrotron bending magnet sources in the [tomopy-cli](https://github.com/tomography/tomopy-cli) see [beam-hardening](https://github.com/tomography/tomopy-cli/blob/mast

[2020-02-17 01:53] decarlof commented on #466
@CTPassion can you share the raw data? and more details about the instrument?

[2020-02-18 11:40] CTPassion commented on #465
There are 360 projections so must be 1per degree. We are using a Medipix 2 and a X-ray generator:
![87295759_277323119911515_1963762719651790848_n](https://user-images.githubusercontent.com/60933427/74732431-23ca4880-5242-11ea-9272-406be18f9a11.jpg)
![86788707_883863658694560_3747506746994720768_n](https://user-images.githubusercontent.com/60933427/74732435-25940c00-5242-11ea-86bc-e24649382611.jpg

[2020-02-18 11:48] CTPassion commented on #466
Using medipix 2 and X-ray tube:
![87295759_277323119911515_1963762719651790848_n](https://user-images.githubusercontent.com/60933427/74733553-786ec300-5244-11ea-99b7-589b58c4a003.jpg)
![86788707_883863658694560_3747506746994720768_n](https://user-images.githubusercontent.com/60933427/74733555-79075980-5244-11ea-9271-6ba075c88b6f.jpg)

Raw Data:
The raw data:
https://drive.google.com/open?id=1-n69x

[2020-02-18 12:10] ydeno commented on #465
Try to make 360 projections per 180 degree. It is sufficient for the reconstruction algorithm and may be the quality will be better.

[2020-02-18 12:19] CTPassion commented on #465
How do I create the text files it mentions here for beam hardening correction?

[2020-02-18 12:27] ydeno commented on #465
optimal number of projections is given (Pi/2)*number of pixels in the horizontal line of the detector. I see that this is medipix with 55 micron pixel size with 256 pixels in the row. No=402 projections...I recomended each projection at 0.4 degree.... 450 projections/180 degree

[2020-02-18 12:34] CTPassion commented on #465
Great, where does this optimum calculation come from?

[2020-02-18 12:46] ydeno commented on #465
https://www.sciencedirect.com/science/article/pii/S0378437104003681

[2020-02-22 12:34] CTPassion commented on #463
I've got a different stack now and I'm coming back to ask how you know the rotation centre for the individual images? When applying tomopy.find_center  the function needs to be passed the _stack_ of images and so I can't get the rotation center for each slice?

[2020-02-24 19:17] carterbox commented on #463
Find the center for the first, last, and some middle slices by calling `tomopy.find_center` multiple times with different values of `ind`. Then we usually assume the centers are a linear function of `ind`, and interpolate what the centers should be fore the rest of the slices.

[2020-02-29 19:10] carterbox opened #468 "2020.06.15 Intern - Metcalf"
I also applied for an intern through the Metcalf Summer Intern program through Northwestern using [this proposal](https://docs.google.com/document/d/1w5J16iiK-pyXDhVJ1jU83bytpcmfLnLQIt-8J-WAS3g/edit?usp=sharing).

This student will hopefully make our documentation much more helpful.

[2020-03-05 19:41] CTPassion opened #469 "Continually changing rotation center"
**Describe the problem**
I have a stack of 450 images of 360degree rotation of a pen. I've been told to take the rotation centre of the first and last slice and interpolate but the first and last slice are at the same angle. The object tilts outward, then tilts back and out and back as it does the 360 degrees:

How can I best contstruct a center of rotation array for these images? I have been mess

[2020-03-05 20:14] decarlof commented on #469
@CTPassion can you describe in more details you experimental set up? In particular why is the rotation axis moved during data collection? is the motion known or is this to keep the sample in the field of view (and not know for each projection)? If this last is true there best interpolation is to use the images themselves.

[2020-03-08 17:57] CTPassion commented on #469
It is a medipix2 detector and a miniX cone beam Xray generator. The sample is rotated in front of the detector. I take the centres of the first and last but it clearly gets them wrong as the final result is producing mirrored parts of the pen:
<img width="171" alt="Screenshot 2020-03-08 at 17 53 58" src="https://user-images.githubusercontent.com/60933427/76168278-37444180-6166-11ea-9b34-50661d9c4b

[2020-03-08 22:14] CTPassion commented on #469
Managed to fix this but just had to trial and error initial guess for centre until it worked!

[2020-03-08 22:29] CTPassion commented on #415
Was just trying this and got my cone beam data into sinograms.  How do i know what I should put in the require parameters for all_stripe? Plus I get this error when I try anyway:

`NameError: name '_rs_algorithm_6' is not defined`

[2020-03-08 22:58] nghia-vo commented on #415
I fixed this bug a while a go, issue 426 [https://github.com/tomopy/tomopy/issues/426](url). Update the latest version of tomopy and try again.

[2020-03-08 23:07] nghia-vo commented on #415
Some examples used here: https://github.com/nghia-vo/sarepy/blob/master/examples/examples.py
for a sinogram size around 2k x 2k. Basically the parameters relate to the size of the defective area. The snr parameter controls the strength of the detection algorithm, smaller is more sensitive. Snr= 3 works for most of the case. Have a look to the [paper](https://doi.org/10.1364/OE.26.028396) which exp

[2020-03-11 18:35] aaronclaeys opened #470 "AttributeError while running reconstruction script"
I am trying to run the Tomopy reconstruction script but an AttributeError shows up when I try to run it. I am not experienced with Python or coding, but I have tried adjusting parameters in the reconstruction script and have tried both Python 2.7 and 3 as well as different Tomopy versions, with no success. I am not sure if there is an issue with compatibility between versions or if it is the code

[2020-03-11 19:16] carterbox commented on #470
Hi @aaronclaeys, this is a duplicate of #392. Please update to `tomopy>=1.4.1` to obtain the patch which fixes this issue. Also, please note that Python 2 reached end of life at the beginning of this year and is no longer supported.

[2020-03-11 19:16] #470 closed

[2020-03-27 01:36] aaronclaeys opened #471 "AttributeError: module 'tomopy' has no attribute 'io'"
Hello,

I followed advice given to me in #470 and I updated Python to 3.8 and TomoPy to 1.7.1 and now the reconstruction script will run until reconstruction is complete but it now produces the following error:

[code]
I'm not sure what to do or how to troubleshoot this error. Any help is appreciated, thanks.

**Platform Information:**
 - OS: Linux
 - Python 3.8
 - TomoPy 1.7.1

**Additional conte

[2020-03-27 03:28] carterbox commented on #471
Hi @aaronclaeys,

tl;dr `write_tiff_stack` was removed from tomopy in version 1.1. Modify your script to import `write_tiff_stack` from the [dxchange](https://dxchange.readthedocs.io/en/latest/source/api/dxchange.writer.html) package or use another library like `tifffile`.

Python packages may be organized into nested modules, so that all the code isn't in one huge file. If you look at our [API re

[2020-04-06 22:22] #471 closed

[2020-04-17 17:24] nghia-vo opened #472 "An interesting example to show a difference in using gridrec and fbp method"
One of users sent me an interesting neutron sinogram image for testing ring removal methods.
![sinogram_360_neutron_image](https://user-images.githubusercontent.com/12136997/79596027-c171b500-80d7-11ea-8965-5db6459fbb43.jpg)
[Raw sinogram](https://github.com/nghia-vo/sarepy/blob/master/data/sinogram_360_neutron_image.tif)
Before ring artifact removal is used:
     If use gridrec:
![rec_gridrec_bef

[2020-04-17 18:27] carterbox commented on #472
Thanks, @nghia-vo, I'll have our summer student try to incorporate this into the documentation.

[2020-04-22 16:12] AndrewHerzing opened #473 "CMake version for build"
**Describe the problem**
I am attempting to build tomopy on a Linux ppc64le cluster that has two versions of CMake installed (2.8.12.2 and 3.13.4).  The build is failing because it attempts to use the older version which is not suitable.  I am not sure how to force use of the newer version of CMake.  Is there an environment variable to set or does the setup.py file need to be edited?

**To Reprodu

[2020-04-22 18:09] carterbox commented on #473
Hi @AndrewHerzing,

TomoPy currently [requires Intel's MKL](https://github.com/conda-forge/tomopy-feedstock/pull/19#issuecomment-587909203). This probably is a bigger obstacle than getting scikit-build to find the CMake binary that you want.

For the later, please see the [scikit-build docs.](https://scikit-build.readthedocs.io/en/latest/usage.html#usage-scikit-build-options) There is a parameter

[2020-04-22 18:11] AndrewHerzing commented on #473
Thanks.  I was able to get around the CMake problem by installing cmake with conda.  Now I am up against the MKL problem, as you predicted.  I guess there is no hope for now.

[2020-04-22 19:37] jrmadsen commented on #473
@AndrewHerzing you just need to prefix your PATH environment variable with the path to the latest cmake: https://en.m.wikipedia.org/wiki/PATH_(variable)

If you are on a cluster, there is likely a module that will do this: `module avail cmake` to see options and `module load cmake/<VERSION>`

[2020-04-22 22:02] AndrewHerzing commented on #473
Have your or anyone else tried to build without MKL using OpenBLAS or an alternative?

[2020-04-22 23:31] jrmadsen commented on #473
@AndrewHerzing It won't work, CMake explicitly looks for MKL libraries.

@dgursoy @carterbox People really do seem to hate that MKL dependency... if only gridrec wasn't the most commonly used reconstruction method...

[2020-04-23 15:47] carterbox commented on #473
@AndrewHerzing, please look at the open pull requests (#458). In theory, some people at Oak Ridge are working on implementing a POWER8 compatible gridrec.

@jrmadsen, yeah, it seems we forgot that MKL isn't available for all architectures and some people don't like it's license. :man_shrugging:

Also, this summer, I have an intern working on breaking the TomoPy compiled library into sublibraries (

[2020-05-05 05:23] Arhatari opened #474 "TIE-Hom in Tomopy"
The phase retrieval, TIE-Hom or Paganin's method in Tomopy need to be corrected. It need to add parameter of the ratio delta/beta instead of alpha as the regularization parameters. Please remove the parameter alpha and add the parameter gamma=delta/beta to reflect the material type.
thank you

[2020-05-08 00:05] MarkRivers opened #475 "Issue with doc file doc/source/ipynb/tomopy.ipynb"
The simple starting example in doc/source/ipynb/tomopy.ipynb is not really correct.

It shows calling tomopy.find_center() _before_ calling tomopy.minus_log().

That does not seem to work correctly.  I have a dataset where the rotation axis is close to 962.

If I do the operations in the order in the example I get a rotation center of 993. which is incorrect.
[code]
However, if I take the minus lo

[2020-05-08 16:44] #455 closed

[2020-05-11 17:12] michael-sutherland commented on #307
@dmpelt didn't you have a fork a long time ago that fixed remove_stripe_fw to use multi-threading, but needed a change to the underlying pywavelets library (which I think was accepted)?  I'm wondering if we can merge that change in.  I'm using Tomopy with MPI and am running into a similar issue with multiprocessing not being supported for remove_stripe_fw.

[2020-05-11 18:56] carterbox commented on #307
@michael-sutherland, you are referring to #268. It went stale and was never merged.

[2020-05-11 19:58] michael-sutherland commented on #307
That's it!  Wow, it looks like that pull request really expanded on scope...  I think it would be useful to remove all references to multiprocessing from tomopy and replace with cf or whatever.

There should probably be a separate discussion on standardizing the parallelization efforts.  It looks like cf with a set scheduler and Numba are two proposed choices.  Either way, I'd really like to see s

[2020-05-12 13:13] habi opened #477 "Binder: Link to data file does not work"
The link to the `tooth.h5` dataset does not work when starting the notebook in Binder from here: https://mybinder.org/v2/gh/tomopy/tomopy/master

I had to change the path, and managed to load the dataset by going up a folder more, as seen in the attached screenshot.
I would have liked to submit a PR, but don't know how it's best to do this for a Jupyter notebook :)

<img width="1198" alt="Screensh

[2020-05-12 16:02] carterbox commented on #477
Thanks for reporting @habi. This issue is closed by #476.

[2020-05-12 16:12] carterbox commented on #477
To answer your other question, GitHub has pretty good support for editing files online. For small changes like this, you can navigate to a file in any repository and click the edit button to make small changes. I use this feature to correct spelling and other small things all the time! Cheers! :beer:

[2020-05-12 18:38] habi commented on #477
I’m also using that feature all the time, but this won’t work well with the JSON in a Jupyter file ;)
Also because the way I did it uses a new import (`import os`), so I just submitted the error as an issue and not a PR with a fix...

[2020-05-12 22:52] MarkRivers opened #479 "Possible issue with entropy based centering"
I have been using reconstruction software written in IDL at APS beamline 13-BM-D.  It uses gridrec (tomoRecon) written in C++ at its core, but uses IDL as the user interface and programming language.

I want to switch to using tomopy.  I am comparing results and performance between IDL and tomopy, and I am having problems with entropy based centering.  The problem may just be that I don't understa

[2020-05-12 23:38] carterbox commented on #479
@dgursoy, implemented the `find_center` method, but he's on parental leave right now, so thanks for your patience while I get up to speed.

From my understanding, you compared your IDL code with two of TomoPy's three automated `find_center` algorithms, and you are trying to determine why they don't all match the output of your IDL code. It looks like your IDL code does an exhaustive search for the

[2020-05-12 23:40] carterbox commented on #479
@decarlof, do you have any tips for the robustness of `find_center`?

[2020-05-13 00:17] MarkRivers commented on #479
I decreased tol from 0.5 to 0.1.  That did not help.  The new results are within 0.2 pixels of the previous results.

Program | Initial guess | Top slice center | Bottom slice center
-- | -- | -- | --
Tomopy | 960 | 1077.0 | 941.6
Tomopy | 950 | 1082.1 | 959.1
Tomopy | 970 | 1073.1 | 956.6

If you look at my plots of entropy in IDL you will see that they vary by about 0.02 units out of 7.75 when c

[2020-05-13 01:20] carterbox commented on #479
It seems there is something that needs to be fixed.

The citation for find_center is https://doi.org/10.1364/JOSAA.23.001048; I will read it tomorrow. Do you have a reference that describes how to compute the entropy? I'm not familiar with this metric.

[2020-05-13 02:17] MarkRivers commented on #479
The paper you cite is what I used in my IDL code.  The paper explains how to compute the entropy.  It is the sum of H*log(H) where H is the histogram of the image.  The entropy is basically a measure of the sharpness of the histogram.

My IDL code that does the entropy minimization is here:
https://github.com/CARS-UChicago/IDL_Tomography/blob/master/optimize_center.pro

At first glance I see a maj

[2020-05-13 13:29] MarkRivers commented on #479
I tested my idea that increasing the number of histogram bins from 64 to 10000 would fix the problem.  I was wrong, it did not help.

I then changed my test program to remove the air normalization and padding steps.  I tested using the current version of tomopy/recon/rotation.py, not the version I modified to increase the histogram bins.

This is the new test program.  It uses both the entropy and

[2020-05-13 13:49] newville commented on #479
@MarkRivers @carterbox I think there was some recent discussion here about how much FFT padding was happening with TomoPy's version of gridrec, with the conclusion that it should probably be increased (maybe by 2x).  I don't know when that changed in the master branch, but you might check that as well - it might have a similar effect of changing the amount of air.  There might also be a difference

[2020-05-13 13:58] MarkRivers commented on #479
I modified the program in the previous comment as follows, adding the call to tomopy.normalize_bg.

[code]

These are the results:

Method | Initial guess | Top slice center | Bottom slice center
-- | -- | -- | --
0-180 | 960 | 962.25 | 962.30
Entropy | 960 | 1020.00 | 1068.56

So with air normalization the 0-180 method still works fine, but the entropy method fails completely.

I then commented o

[2020-05-13 16:20] carterbox commented on #479
There are multiple issues with TomoPy's gridrec that need to be addressed. In fact, 5 of the 7 bugs on our [bug board](https://github.com/tomopy/tomopy/projects/1) are gridrec related.

@MarkRivers, did you check whether TomoPy's `_find_center_cost()` produces a convex shape for your dataset?

[2020-05-13 17:36] decarlof commented on #479
I am looking into it. I never use the entropy method but the find_center_vo which works well.

[2020-05-13 18:13] dgursoy commented on #479
A quick feedback after I read some of the comments. There are few differences from the IDL entropy based centering code that I remember. First, the ring correction is not implemented in ours and I remember it was ensuring some robustness. Second, NM optimizer can be replaced by a hierarchical brute search or by another optimizer as Matt suggested. I also remember that selection of histogram bins a

[2020-05-13 18:35] MarkRivers commented on #479
Here is a comparison of 0-180, entropy, and Vo both with and without padding.  Here I also list the execution time.  The times listed are the times to center both the top slice and the bottom slice.

No padding:

Method | Initial guess | Top slice center | Bottom slice center | Execution time (s)
-- | -- | -- | --|--
0-180 | 960 | 962.20 | 962.30 | <1
Entropy | 960 | 961.50 | 962.44 | 16
Vo | 960

[2020-05-13 18:46] MarkRivers commented on #479
The example I show at the beginning of this issue in IDL has ring correction disabled, so that cannot be the difference.

I don't believe the problem is the optimizer.  The problem is, for example,  that the entropy values for centers that are 7 pixels apart are identical (see my second comment from top of issue).  That means the problem is either the entropy calculation, or the reconstruction its

[2020-05-14 22:04] MarkRivers commented on #479
I am trying to track down why tomopy and IDL produce such different results for centering based on entropy.

I first wrote a little program that reads in the same dataset as above, does the normalization in tomopy, and writes out slices 600 and 601 as TIFF files.  That lets me start with the same input slice for both tomopy and IDL reconstructions and entropy minimization.

I then wrote the follow

[2020-05-14 22:38] MarkRivers commented on #479
I realized that in the above test I was setting mask=False in tomopy.find_center().  That is not the default, and not what I was using in the tests above yesterday.

I have modified the program to allow setting mask=True or False, and applying the mask in the program as well as in the call to find_center().  I also changed from testing with slice 600 to testing with slice 120, which is the top sli

[2020-05-14 22:47] MarkRivers commented on #479
Yesterday I showed that tomopy.find_center() failed badly if air normalization was applied.

I just changed the test program above to add the air normalization as follows:
[code]

The program still has mask=True.

This is the end of the output:
[code]

This is the plot:
![image](https://user-images.githubusercontent.com/6115534/81993012-6a91c980-960a-11ea-8c3d-24b9735fc59f.png)

So applying air no

[2020-05-16 15:11] MarkRivers commented on #479
I have now written an IDL program to perform similar functions to the Python program above.
This is the program:
[code]
This program does the following:
- Creates an array of rotation centers to test, 960 +-40 in 0.25 pixel steps
- Reads in the slice120 and slice1080 TIFF files that were created with tomopy.  These are normalized to dark and flat, but have no other processing (log, etc.).
- Puts t

[2020-05-17 00:50] decarlof commented on #479
nice!

francesco

[2020-05-17 17:11] decarlof opened #480 "update documetation of the entropy based centering"
Include in the docs @MarkRivers findings on entropy based centering (#479)

[2020-05-17 17:14] MarkRivers commented on #480
I am still working on this.  I have established that the entropy based centering using Gridrec/tomoRecon with the IDL front-end is working very well.  I am trying to figure out why tomopy is not currently giving the same results.  I am in the process of writing a Python program that is as similar as possible to the IDL test program.

[2020-05-18 12:02] #469 closed

[2020-05-18 12:02] #466 closed

[2020-05-18 12:02] #465 closed

[2020-05-18 12:03] #456 closed

[2020-05-18 12:03] #449 closed

[2020-05-18 12:03] #448 closed

[2020-05-18 12:03] #445 closed

[2020-05-18 12:03] #443 closed

[2020-05-18 12:03] #437 closed

[2020-05-18 12:03] #433 closed

[2020-05-18 12:03] #428 closed

[2020-05-18 12:03] #423 closed

[2020-05-18 12:03] #422 closed

[2020-05-18 12:03] #388 closed

[2020-05-18 12:03] #362 closed

[2020-05-18 12:03] #358 closed

[2020-05-18 12:03] #328 closed

[2020-05-18 12:03] #277 closed

[2020-05-18 12:03] #254 closed

[2020-05-18 12:03] #247 closed

[2020-05-18 12:03] #191 closed

[2020-05-18 12:03] #179 closed

[2020-05-18 12:03] #121 closed

[2020-05-18 12:03] #115 closed

[2020-05-18 19:53] jakirkham commented on #451
Should this still be open?

[2020-05-18 23:03] carterbox commented on #451
Yes. The bot was supposed to wait until Monday to close this issue.

[2020-05-18 23:35] jrmadsen commented on #451
as I noted previously, CUDA is already enabled as a language, just not explicitly bc you can compile tomopy without CUDA. This ticket should be closed.

[2020-05-18 23:35] #451 closed

[2020-05-19 04:17] newville commented on #479
@MarkRivers @decarlof Sorry this will be so long:

I have often had trouble finding centers for XRF sinograms.  I figured this was just sort of marginal data with XRF-specific self-absorption, but the discussion here prompted me to look at the automated centering too.   What I find (for a 660 x values 720 angles over 360 degree XRF dataset at https://millenia.cars.aps.anl.gov/gsecars/data/Newville

[2020-05-20 10:25] dmpelt commented on #307
I think the git rebase might have confused github for that PR, since I don't remember it being that large!

The specific commit for `remove_stripe_fw` can be found [here](https://github.com/dmpelt/tomopy/commit/b221609339e8ae86238bbc182acdc505d216c55f). This was all a long time ago, so I'm not sure if there have been other changes in the method that prevent merging it now, but the general approach

[2020-05-21 19:06] decarlof commented on #479
@newville I get mixed results:
In case of weakly absorbing samples with large sections moving in and out I get:

![Figure_1](https://user-images.githubusercontent.com/5884150/82594074-27cf7480-9b69-11ea-9d79-c780e6fcc548.png)

in case of regular (good absorption and signal) well centered samples, I get:
![Figure_2](https://user-images.githubusercontent.com/5884150/82594340-8b59a200-9b69-11ea-87bf-

[2020-05-21 19:34] newville commented on #479
@decarlof Interesting -- thanks.  I found for our limited XRF tomo data that finding the center first with neg-entropy then with blurriness worked pretty well.  I wasn't sure whether this had been tried with other CMT datasets.

[2020-05-22 15:42] MarkRivers commented on #479
I have done a comparison of entopy calculations with tomopy and IDL with the dataset from @newville.

This is the Python code, very similar to Matt's but writing out a TIFF file with the reconstruction at center=330.
[code]

For some reason the tomopy reconstructions are rotated by 270 degrees compared to the IDL reconstructions, so I use rot90 so the TIFF files read into ImageJ are the same orien

[2020-05-22 15:45] MarkRivers commented on #479
@decarlof wrote:

@decarlof could you make available 32-bit float TIFF files for normalized data for a couple of slices from each of those datasets?  I would be interested to compare IDL entropy with tomopy entropy on those.

[2020-05-22 16:53] carterbox commented on #479
@MarkRivers, TomoPy gridrec has been adjusted for performance reasons (to use faster libraries and compiler features) a few times over the years, so IMO it's very likely that the behavior was unintentionally changed. If you have a thorough understanding of the gridrec algorithm, I would be very grateful if you could check the source code for deviations from the original.

[2020-05-22 17:18] MarkRivers commented on #479
@carterbox I will be happy to do that.  I want to switch to using tomopy, but need to figure out why the reconstructions are almost 2X noisier than we have been getting with IDL.  Hopefully it is just some setting that can be changed.

In order to track it down I need to be able to build the development version of tomopy, rather than using the conda pre-built distribution.  When I try to do that o

[2020-05-22 17:32] carterbox commented on #479
We have a [development guide](https://tomopy.readthedocs.io/en/latest/devguide.html#installing-dependencies) that is helpful (hopefully). Everything should "just work" if you set up a conda environment using one of our provided environment yamls.

[2020-05-22 17:33] MarkRivers commented on #479
My apologies, I just discovered I had missed the step of setting up the tomopy environment and activating it.  Now the build seems to have worked fine!

[2020-05-22 17:51] MarkRivers commented on #479
I am going to open a new issue on the tomopy implementation of gridrec.  That is independent of the centering issue.

[2020-05-22 18:04] MarkRivers opened #481 "tomopy gridrec reconstructions differ from those in tomoRecon"
The tomography reconstruction code in use at APS sector 13 is called tomoRecon: https://github.com/cars-uchicago/tomorecon

It was the first implementation of a thread-safe version of Gridrec that could thus be used to reconstruct multiple slices in parallel.  At sector 13 we use an IDL front-end to tomoRecon. https://github.com/CARS-UChicago/tomoRecon/tree/master/IDL

The reconstructions produced

[2020-05-22 18:10] decarlof commented on #479
@MarkRivers normalized sino are [here](https://app.globus.org/file-manager?origin_id=c9fbf3d0-9c4c-11ea-bedb-0e716405a293&origin_path=%2F), these are 10 per datasets around the center. The readme file has the list of vo and manual centers.

[2020-05-22 18:27] carterbox commented on #481
It looks like the CXX gridrec implementation is only the default for the Windows build.

https://github.com/tomopy/tomopy/blob/193151fd5ddb35f4523d975b12cf448a6b55c2fe/cmake/Modules/Options.cmake#L13-L18

[2020-05-23 08:37] CatalysTim opened #482 "GPU support and recon(accelerated=True) not working"
EDIT: Resolved

[2020-05-23 11:44] #482 closed

[2020-05-25 14:56] MarkRivers commented on #479
I am trying to copy those files with Globus.  It fails every time with this error in the Globus event log:
Error (session setup)
Endpoint: My desktop computer camaro (6e7bb600-390a-11e8-b985-0ac6873fc732)
Server: Globus Connect
Command: SITE UPRT 5fGO BXPHWVts/PVWWTZIB+llpF 1,2013266431,164.54.102.61,44566,host
Message: Fatal FTP response
---
Details: 500 globus_xio: ICE negotiation failed.\r\n

W

[2020-05-26 04:35] decarlof commented on #479
@MarkRivers I shared this folder with Globus user: Mark Rivers (rivers@anl.gov). Did you perhaps log in into Globus with different credentials?

[2020-05-26 04:37] decarlof commented on #479
@MarkRivers I found another set of credentials (rivers@cars.uchicago.edu) I just shared folder to these one. Please try again

[2020-05-26 14:16] nikitinvv commented on #479
@MarkRivers, just a small observation. Maybe I am wrong. I see in both your provided tests in IDL and tomopy you use the Shep logan filter. It is defined differently in these two packages:

Tomopy:

[code]

IDL:

[code]

The Shepp-Logan as it is defined in IDL kills more high frequencies than the one in tomopy, thus the results are less noisy. To my opinion, the Shepp-Logan filter in IDL is define

[2020-05-26 14:46] MarkRivers commented on #479
I'm not sure I agree.  This is the tomopy definition:

 return fabsf(2 * x) * (sinf(M_PI * x) / (M_PI * x));

If you look at this expression carefully you will see that the first "x" and the last "x" cancel, because one is in the numerator and the other is in the denominator, assuming X is always non-negative. This then becomes:

 return fabsf(2) * (sinf(M_PI * x) / (M_PI));

This now differs from

[2020-05-26 15:30] newville commented on #479
Is `x` strictly on [0, 1]?  If so, why are either version use `abs`?  Both are.
If `x` can go outside [0, 1], then they are not the same.

[2020-05-26 16:01] nikitinvv commented on #479
@MarkRivers, @newville  if you look at all filter functions in IDL and in tomopy:
[code]

Tomopy:

[code]

In tomopy pars[0]=0.5 by default, and range for x is [0,0.5]. What is the range for x in IDL? For consistency in tomopy hann, hamming.. filters it should be in [0,1]. But then the shepp-logan is not consistent for both versions.

[2020-05-26 18:05] MarkRivers commented on #479
Just for the record, the problem was not the credentials.  The problem was that @decarlof computer  was on an APS beamline network, and my computer was on an APS CAT network.  APS networking had an ACL in place between those networks that blocked Globus.  They modified the ACL and now it works.

[2020-05-26 21:50] MarkRivers commented on #481
I have written 2 test routines, one in IDL and one in Python.  They are as identical as possible, and are written for clarity rather than to use optimized idioms of each language.  Each program does the following:
- Reads 2 TIFF files whose paths are passed as arguments.  These are intended to be 2 slices from the same dataset.
- Does any specified air normalization or extra padding.
- Reconstucts

[2020-05-26 22:13] MarkRivers commented on #481
The first dataset I tested was the "tomo_00001" dataset that Francesco provided.  It is 2048 wide and 1501 projections.  I used slice 00000 and slice 00009.

These tests were done with the Hann filter, with 10 air pixel normalization, and with no extra padding, since the 2028 width is a power of 2 and there is plenty of air around the sample.

This is the IDL output when running the program on tha

[2020-05-26 22:45] MarkRivers commented on #481
I repeated the above but changed both Python and IDL to use air_pixels=0 rather than 10, and to use the "shepp" filter, rather than "hann".

IDL found the centers at 1023.25 for both slices.  This is the plot of the entropy from IDL:

![tomo_00001_sino_00000_idl_entropy_filter=shepp, air_pixels=0, padded_width=2048](https://user-images.githubusercontent.com/6115534/82956117-b7b05c80-9f75-11ea-91eb

[2020-05-26 23:04] nikitinvv commented on #481
@MarkRivers I have good results for the parzen filter. Maybe the hann filter is defined incorrectly in tomopy?
![Screen Shot 2020-05-26 at 6 00 21 PM](https://user-images.githubusercontent.com/3603885/82958591-4ecbe300-9f7b-11ea-9c0a-8445377fbb9f.png)
![Screen Shot 2020-05-26 at 6 00 08 PM](https://user-images.githubusercontent.com/3603885/82958594-512e3d00-9f7b-11ea-9121-ee05e40e59d2.png)

[2020-05-26 23:57] nikitinvv commented on #481
@MarkRivers as I mentioned before, something wrong with the range of x for defining filters. And I think the problem is in tomopy. There is a parameter pars[0] which scales this range x like here:

[code]

It is defined in source/tomopy/recon/algorithm.py line 419:

[code]

I switched it to
[code]

After recompiling tomopy and running your test for hann and shepp filters I got:
hann:
![Screen Shot

[2020-05-27 14:02] MarkRivers commented on #481
@nikitinvv thanks.  I was able to reproduce your results.  Indeed the entropy is much smoother, and the periodic noise when zooming in is gone.

However, I believe the tomopy reconstruction is still significantly worse than the IDL reconstruction.  This is with air_pixels=10 and hann filter.

This is a horizontal profile through the center of slice 00000 with the IDL reconstuction:

![image](https

[2020-05-27 14:44] decarlof commented on #481
Is the above cupping related to missing padding in tomopy implementation of gridrec? In tomopy-cli we apply padding before using grid rec to address this.
Let me run&post this recon with air=10 and hann filter

[2020-05-27 14:45] nikitinvv commented on #481
@MarkRivers as I remember, in tomopy there is no oversampling factor for computing FFTs. Instead, they simply pad the data to the next power of 2. I always think this is not good, and now you are rising the same problem. I hope IDL has oversampling 2 for computing FFTs.

Simple test: in your code set the padded size to 2050. In this case, tomopy will pad it to 4096 giving oversampling 2. These are

[2020-05-27 20:57] decarlof commented on #481
![Screen Shot 2020-05-27 at 3 53 36 PM](https://user-images.githubusercontent.com/5884150/83071235-674b0480-a032-11ea-8041-ce029d46ee87.png)
![Screen Shot 2020-05-27 at 3 53 51 PM](https://user-images.githubusercontent.com/5884150/83071263-703bd600-a032-11ea-8083-bca3a474f691.png)
All turned off, difference is in applying padding before running gridrec. Images are scaled to the same palette.

[2020-06-01 23:06] carterbox opened #484 "test_find_center_pc runs forever"
**Describe the problem**
The test for find_center_pc does not complete. It seems like the scikit-image's register translation never returns.

**To Reproduce (if applicable)**
Run the tests.

**Platform Information:**
 - OS: Ubuntu and WSL Ubuntu
 - Python Version 3.7
 - TomoPy Version 1.7

**Additional context**
I tried switching to version scikit-image 0.14-0.17 and observed the same behavior. Th

[2020-06-05 11:23] nghia-vo commented on #481
Similar issues related to the padding and the filter used shown here #453

[2020-06-05 17:00] jdgelb opened #489 "Building TomoPy from source on Windows"
I'm trying to build TomoPy from source on a fresh python 3.7 install (from python.org) in a Win10 environment. Running into some build issues and wondering if anybody can give me some tips? Here is where I am now:

1. I have installed MinGW and placed the binaries in my PATH following this procedure:

[https://www.hellocodies.com/how-to-install-mingw-compiler-on-windows/](https://www.hellocodies.c

[2020-06-05 18:59] carterbox commented on #489
Hi Jeff,

1. We support the MSVC compiler now. There's no need to mess around with MinGW, and we don't presently test with it.

2. Make is also not required. We prefer Ninja as a generator because it is cross-platform.
3. No comment
4. dxchange is not required to build TomoPy, it's included in the dev environment because some of the benchmarks use it.

5. The error is that CMake cannot locate MKL

[2020-06-05 19:34] jdgelb commented on #489
Thanks! So if I understand right: the limiting step right now is getting mkl_fft to build and otherwise everything else is kinda on the right track? (if not a little overkill, with the extra/unnecessary packages I've grabbed)

I'm not too familiar with the different compiler ports... but I've also seen MSVC available as an installable package alongside MinGW. Do I need to install MSVC on my own, o

[2020-06-05 20:49] carterbox commented on #489
Yes, it seems on track.

The compiler toolchain is not included with Windows. You can get it from the "visual studio installer" program which let's you download and update the Windows compilers. Since you already have Visual Studio 2017 installed, the installer is already on your machine. You can use it to check that you have VC++2017 installed.

timemory is not required. It's just a benchmarking

[2020-06-05 23:14] dreycenfoiles opened #490 "Accelerated reconstruction algorithms are unstable at a number of high iterations"
When running the accelerated versions of the SIRT and MLEM reconstruction algorithms, the images produced become unstable after a large number of iterations even when the projects are padded with zeros. This can be seen in an example of SIRT using the proj.npy and angle.npy found in the test_data folder.
[code]
The above code will produce the following two images. The result of the acceleration al

[2020-06-05 23:44] carterbox commented on #490
The instability comes in the form of the bright spot in the lower left corner near (135, 0). This spot grows in intensity.

[2020-06-06 01:26] jrmadsen commented on #490
Is this also reproducible with other images? Also, was this with nearest-neighbor interpolation? What happens when you use linear interpolation? Cubic interpolation?

What kind of GPU was this run on? Bc I ran far more iterations than 100 when I worked on this and don't really remember an issue along these lines. Lower quality GPUs are more prone to numerical faults which could cause something lik

[2020-06-06 01:29] jrmadsen commented on #490
I've actually got to do some tomopy benchmarking sometime before Wednesday for a paper so if you send me what I need to run this, I can see if it still shows up on our V100 GPUs.

[2020-06-06 03:05] jrmadsen commented on #489
@jdgelb were the py36 issues building timemory from `pip install timemory`?

[2020-06-08 02:44] jdgelb commented on #489
No, actually `pip install timemory` didn’t work at all for me on 3.6 for some reason... so I went to build it from source (and that’s where the headaches came in!).

[2020-06-08 15:29] carterbox commented on #490
@jrmadsen, @dreycenfoiles doesn't have access to a GPU right now, so we are using the OpenCV implementation. `proj.npy` and `angle.npy` are from `/test/test_tomopy/test_data`.

@dreycenfoiles, can see what happens with other interpolation schemes when he needs something to do.

[2020-06-08 15:30] jrmadsen commented on #489
that's interesting, all the CI is passing. Could you file an issue on the GitHub with the errors so I can look into it? https://github.com/NERSC/timemory/issues

[2020-06-08 16:18] jdgelb commented on #489
Sure! This may make a difference though: the python 3.6 distribution I was running was the [version supplied by Intel](https://software.intel.com/content/www/us/en/develop/tools/distribution-for-python.html), since that came with mkl_fft (and all the other mkl kit) pre-built. I tried a Python.org (bare-bones) 3.6, but mkl_fft still gave me problems with the build... so Intel python was a non-Conda

[2020-06-12 21:11] #475 closed

[2020-06-12 21:11] #477 closed

[2020-06-16 20:27] rockandsalt opened #493 "Cone Beam Geometry : Astra"
**Is your feature request related to a problem? Please describe.**
I would like to know if adding cone geometry is possible to the Astra wrapper?

**Describe the solution you would like.**
Is me adding `'geometry'` to the[ astra dictionnary](https://github.com/tomopy/tomopy/blob/79bf70d24faa0fb20544c6320c08ea64ea0a5c12/source/tomopy/recon/wrappers.py#L72) and replacing the hard-coded `parallel` wi

[2020-06-17 13:05] #472 closed

[2020-06-17 16:32] carterbox commented on #493
Hi @rockandsalt, 3D cone geometry is incompatible with TomoPy's parallelism model; we slice the projections along the vertical dimension because we assume that the light path has no vertical component. Thus, adding the 2D fan geometry might be trivial, but 3D would require additional changes.

I would welcome a pull request updating or improving our wrapper of ASTRA; it is within the scope of this

[2020-06-17 16:36] rockandsalt commented on #493
Hi @carterbox,
thanks for the response. I was trying to modify the code. But I have issues with installing Astra. The astra toolboox downgrades the numpy version which breaks the tomopy installation. Is there anyway around that?

[2020-06-17 17:34] carterbox commented on #493
You must use `astra-toolbox>1.8` because they changed their API and didn't want to update their old releases with newer NumPy versions.

[2020-06-17 19:57] MarkRivers opened #494 "Performance problem with gridrec compared to tomoRecon"
I am moving a discussion that began in an e-mail thread into this new issue.

@nikitinvv said:

I have also tried to check the gridrec performance on my Power8/P100 system. Tomopy was installed from source without MKL support by using this fork
https://github.com/ssomnath/tomopy/commit/b55da98c2195890b59dde9ad44605d3b1d8322f7.FFTW was also installed from source with --enable-float and -enable-thre

[2020-06-17 20:25] MarkRivers commented on #494
@MarkRivers replied:

I just tested Viktor’s script on a 20-core Intel Linux system and a 48-core Windows system.

**Linux System**

The Linux system is an Intel(R) Xeon(R) CPU E5-2687W v3 @ 3.10GHz.  This has 10 physical cores, and 20 virtual cores.

I am running this fork of tomopy which just has a minor fix for the filter lengths.  https://github.com/MarkRivers/tomopy

This was the output for V

[2020-06-17 20:31] MarkRivers commented on #494
Daniel Ching replied:

Mark, there are additional thing that may be related to your observations.

Windows and Linux do not use the same compiler. MSVC doesn't support all of the same features as Linux and we haven't done any work to optimize for Windows. We don't use MinGW.

See what the effect of using the --disable-tasking flag is on your build? There is a library called PTL which handles some

[2020-06-17 20:35] MarkRivers commented on #494
I understand that they are not the same compilers.  But the same is true for tomoRecon, it is using gcc on Linux and MSVC on Windows.  The question then is why with gcc tomoRecon is 1.33 times faster than TomoPy, but with MSVC it it 4.5 times faster.  I am also not doing any special optimizations on the Windows build of tomoRecon.

[2020-06-17 20:46] jrmadsen commented on #494
PTL is only used in mlem and sirt and only when the accelerated flag is enabled. So these threads are started at the Python level.

[2020-06-17 20:49] jrmadsen commented on #494
From what I can tell from this thread, there is a comparison between different forks so actually doing a diff of the code which is being used is the first starting point.

[2020-06-17 21:12] MarkRivers commented on #494
The tomopy install on Windows is 1.7.1.  That is also what I am running on Linux with the exception of this minor patch:

[code]
That patch is not causing the performance difference between Linux and Windows.  More importantly the comparison that concerns me most is IDL/tomoRecon on Windows vs TomoPy on Windows.  That does not involve a comparison across versions of TomoPy.

When I compare the sam

[2020-06-17 21:32] jrmadsen commented on #494
Ah I see. The best starting point to figure out what is going on is to run a profiler on the code and see the breakdown of where in code that time is being spent but profiling tools on Windows is far outside of my expertise.

[2020-06-17 21:40] newville commented on #494
Are IDL and Tomopy on Windows and Linux all using the same version MKL for FFTs?  I think there were several changes to gridrec in tomopy relative to the starting point (which is probably close to the IDL version) over the years, and the Windows compiler was changed from gcc (mingw) to MSVC C++ (not C) because of the implementation of Complex numbers.

[2020-06-17 21:56] MarkRivers commented on #494
This is the output of ``conda list`` on Windows:
[code]

This is on the Linux system:
[code]
So they are not the same version.  mkl seems newer on Windows but mkl_fft seems newer on Linux?

[2020-06-19 19:35] #493 closed

[2020-06-22 19:05] MarkRivers commented on #489
I am also trying to install tomopy from source on Windows 10.  This is the error I get:

[code]

I know this means I need to install CMake.  It would be very helpful if this document: https://tomopy.readthedocs.io/en/latest/devguide.html#installing-dependencies
had step-by-step instructions on what needs to be installed to build for Windows and what directories need to be in one's path.  (CMake, V

[2020-06-22 19:38] carterbox commented on #489
Hi @MarkRivers, The conda environment in `envs/` is a specification of what should be on the path. I guess that this problem with CMake means your anaconda environment is not activated correctly?

There is a missing step from the docs for Windows: you will need to install the Microsoft C++ compiler yourself from their installer. Only VC++2017 is required; not the entire Visual Studio. Anaconda can

[2020-06-22 19:41] MarkRivers commented on #489
I have now installed CMake and added it to my PATH.  When I try to build tomopy now this is the error I get:
[code]

It looks like it fails when I tries to compile a test program:
[code]
But that test program does not seem to exist in the directory it is building in:
[code]
So that CMakeTmp directory is empty, it does not contain the test file.

Any idea why not?

[2020-06-22 19:51] MarkRivers commented on #489
Perhaps I did something wrong in the install.

I followed the main TomoPy installation instructions and did this:
[code]
Having done that I see this with conda list:
[code]
It does not include cmake or a number of the other dependencies in envs\win-36.yml.

If I then go to the Development part of the TomoPy documentation it tells me to do this:
[code]

However, that leads to an error because the t

[2020-06-22 19:53] jdgelb commented on #489
I had this same issue and am trying to remember now how I got past it... I think it was simply a case of a missing package. Do you have ninja installed via conda? If so, you can try installing via pip to see if that helps. I've found that sometimes pip does a better job than Conda of getting DLLs/etc linked up on Windows.

[2020-06-22 19:54] MarkRivers commented on #489
I already had Visual Studio 2017 Community Edition installed, and it is finding the compiler fine.  I don't have cmake from Python (because of problem in my previous message), but I did simply install CMake and that seems to work.

[2020-06-22 20:12] carterbox commented on #489
There is some confusion related to how to create the dev environment.
[code]
These commands above create a new environment called `tomopy` and installs TomoPy from the prebuilt package hosted on the Anaconda servers along with the *runtime* dependencies only. This is not the development environment.

[code]
This command above will create a new conda environment with the *development and build* dep

[2020-06-22 20:36] MarkRivers commented on #489
When I search all of the files in envs\ the string "cmake" (case insensitive) does not occur.
[code]
Is cmake a Python package that should be installed?  Otherwise how is it supposed to be available?

[2020-06-22 20:47] MarkRivers commented on #489
Thanks for the clarification.  I copied  win-36.yml to win-36-devel.yml and changed the environment name to tomopy_devel.  I created and activated that environment. Now I see cmake in the conda list.
[code]

Now when I try to build it is actually using VS2015, not VS2017.  Luckily I have both installed.

However, it still does not work.  I now get this error:
[code]

The problem again seems to be

[2020-06-22 20:56] MarkRivers commented on #489
I made some more progress.

Previously I was building on my J: drive, which is a Windows mount of our Linux file system.  That normally works fine.  For example my entire EPICS development tree resides on that file system, and I build EPICS fine on it from Windows machines.

Since I thought that might have something to do with the problem, I did a fresh clone of tomopy on my local C: drive.

Now t

[2020-06-22 21:29] MarkRivers commented on #489
I tried using the win-37 environment file instead.

I get the same error:
[code]

[2020-06-22 21:33] MarkRivers commented on #489
When I run "conda activate tomopy" after creating with win-37.yml I see this:
[code]
There seem to be some errors at the end, but I don't know if they are significant?

[2020-06-22 21:40] carterbox commented on #489
CMake is dependency of Scikit-build. Conda can install non-python packages.

Maybe you're aren't the lastest commit? :confused: I thought I switched the build environment to vs2017 a few weeks ago? Not sure it matters.

When I have problems with the Visual Studio generator, I switch to Ninja.

[code]

  configuration.

  library.

This means that the OpenCV you are trying to compile against is bui

[2020-06-22 23:57] MarkRivers commented on #489
Yes, that was the problem.  I installed VS 2017 a couple of years ago.  It was using the 14.13 runtime.  I went to the VS 2017 Installer and did an "Update".  That installed the latest runtime.  Doing that eliminated the error with OpenCV.

Now the build succeeds.  The things I needed to do:
- Remove conflicting tomopy environment
- Remove the local CMake installation from my PATH.  Not sure this

[2020-06-23 22:00] MarkRivers commented on #494
I have now managed to build tomopy from source on both Linux and Windows so I can begin to try to determine the reasons for the performance differences of the Linux and Windows versions of tomopy, and for the differences between tomopy and IDL/tomoRecon.

I modified the test program from @nikitinvv so that the number of horizontal pixels N=2048 rather than 2448.  This simplifies the problem becaus

[2020-06-23 23:24] jrmadsen commented on #494
Wall-clock times are not all that enlightening in the context of threads because locking can reduce 16 threads to essentially 1 thread. So we need to look at the cpu-clock time and the ratio of the cpu-clock time to the wall-clock time (perfect scaling on 16 threads would be 1600%)

So could you run:

[code]

and then replace the tic-toc with:

[code]

and/or every python interpreter call:

[code]

[2020-06-23 23:26] jrmadsen commented on #494
Oh and add a `timemory.finalize()` at the end

[2020-06-23 23:34] jrmadsen commented on #494
For the record, the scaling from 2 threads to 16 threads is ~3.29x instead of 8x. The question is whether those threads are (1) idle, (2) spinning on a lock, or (3) MKL under the hood is also generating threads, in which case, you might be generating 16 x 16 = 256 threads. There is a decent chance (3) might be happening because Windows threads take much, much longer to be initialize than pthreads

[2020-06-24 15:52] MarkRivers commented on #494
This table shows that scaling from 2 threads to 16 threads for all 4 systems I tested.  I used the mean of the tests where the table above has more than 1 result.

TomoPy Linux | TomoPy Windows | IDL/tomoRecon Linux | IDL/tomoRecon Windows
-- | -- | -- | --
3.26 | 2.51 | 4.89 | 4.78

I have not yet tried your suggestion of using timememory.  I did simply run "top -H" on Linux to see the CPU usage

[2020-06-24 16:27] MarkRivers commented on #494
@jrmadsen I tried to follow your instructions for installing timemory.

No problem.

Seems OK.
[code]

Does not work.
[code]

I then tried going into the timemory-source directory and running setup.py.  There are many errors and it fails.  This is the start of the build.  It looks like it wants a more recent version of g++.  I am running Centos 7 which has g++ 4.8.5.
[code]
This is the complete er

[2020-06-24 18:53] carterbox commented on #494
@MarkRivers, For clarity, process parallelism and thread parallelism are not equivalent, and they may be used at the same time (there may be multiple threads per process). Your screenshots of top and the Process Explorer are **not** showing the number of threads per process; they are only showing the number of processes. Jonathan is suggesting that you may be oversubscribing your CPU by having mor

[2020-06-24 18:56] carterbox commented on #494
You can see the number of [threads per process using top](https://www.golinuxcloud.com/check-threads-per-process-count-processes/). It's just hidden by default.

[2020-06-24 19:22] MarkRivers commented on #494
I really don't think your statement is correct.  I am using "top -H" and each of those things using 100% of a core is a thread, not a process.  This is the man page for top -H
[code]

If in "top" I press the H key to toggle thread view on and off I will either see a single process using 800% of a CPU, or 8 threads each using 100% of a CPU.  Those 8 things are definitely threads, not processes.

If

[2020-06-24 19:57] MarkRivers commented on #494
Here is proof that what I am seeing on Linux with TomoPy is *threads* not *processes*.

This is the display of "top" with threads toggled off by pressing H.  Note that the Python process running TomoPy is the first one (that has only been running for a couple minutes), and it is using 800% of a CPU because I have set ncore=8.  It is a single process, because that it what "top" displays when H is t

[2020-06-24 20:25] jrmadsen commented on #494
@MarkRivers

It looks like it thinks you are requesting a package (and indeed that is why I had you checkout to `timemory-source` so that it wouldn't try to install `timemory` from PyPi which doesn't yet have the latest release). This should probably be `python -m pip install ./timemory-source` so it realizes its a path.

It looks like you will have to install a newer C++ compiler via yum or via t

[2020-06-24 20:31] jrmadsen commented on #494
Also, since it appears this is not an over-subscription issue, it might be that the IDL has a better implementation of the FFT transforms than MKL. This would be quite a surprise because Intel really touts the performance of MKL and the (former and very capable) post-doc from NERSC who was assigned to tomopy before me spent all her time optimizing the MKL-based gridrec and got some substantial imp

[2020-06-24 20:45] MarkRivers commented on #494
I wrote the tomoRecon C++ code that IDL is calling.  It was the first thread-safe implementation of Gridrec.  It uses FFTW, it does not use anything from IDL itself.  So if the difference is the FFT then FFTW is outperforming MKL.

[2020-06-24 21:03] jrmadsen commented on #494
Haha I kind of hope thats the case. I am not a huge fan of Intel software products pretty much across the board with the sole exception of TBB. From what I remember from the gridrec code (I never worked extensively with it aside from tweaking the C version using `_Complex` to support `std::complex`), there really isn't much that the code does aside from making calls into MKL.

[2020-06-24 21:05] MarkRivers commented on #494
@carterbox wrote:

I believe this statement is incorrect.  You can see this by looking at the relevant code in algotithm.py:
[code]
Note that ncore is used to control the number of *threads* used by cf.ThreadPoolExecutor().

This is the documentation for ThreadPoolExecutor:
[code]

So these are clearly *threads*, not *processes*.

Note that concurrent.futures does provide a ProcessPoolExecutor() b

[2020-06-24 21:50] carterbox commented on #494
That's news to me; I thought we were still using MultiProcessing in all modules! :man_shrugging:

[2020-06-24 21:58] carterbox commented on #452
If we do use pybind11, we must remember to [release the GIL](https://pybind11.readthedocs.io/en/stable/advanced/misc.html#global-interpreter-lock-gil). Ctypes does this, so we must also do this in order to not break anything.

[2020-06-25 13:55] MarkRivers commented on #494
@jrmadsen said:

I just studied the code in gridrec.c.  It contains these lines:
[code]

The C++ equivalent code, gridrec.cc contains these lines;
[code]
My understanding is that gridrec.c is used on Linux and gridrec.cc is used on Windows.  Thus on both of these it appears that the MKL FFTs are being explicitly forced to run in a single thread, so MKL_NUM_THREADS should have no effect.

[2020-06-25 18:18] MarkRivers commented on #494
I just realized that the IDL/tomoRecon times were too large because there was some time being taken to deallocate the previous reconstruction array on subsequent tests.  This time was unfairly counted against the reconstruction time.  I moved that deallocation into the main test program outside the timing section.
[code]

These are the new results.  I also added the results for 20 threads.

Number

[2020-06-25 20:14] MarkRivers commented on #494
I added some timing measurements inside gridrec.c.  For each slice gridrec has 3 main "phases" in the code code:
1) Initial loop over number of projections where it computes a 1-D FFT and other things.
2) 2-D FFT.
3) Final regridding.

The total time for TomoPy to reconstruct 1024 slices with 2 threads is 118 seconds.  gridrec reconstructs 2 slices at once.  That means the time per 2 slices is 118

[2020-06-29 22:45] MarkRivers commented on #494
I realized that the comparison with IDL/tomoRecon was not fair for 2 reasons:

1. I was compiling tomopy with the latest version of the compiler and libraries.  However, the tomoRecon shareable library I was using was built in 2013 with older versions of gcc (3.6.3), EPICS base (3.14.12.3) and fftw (3.3).  I thus rebuilt the shareable library with the current version of EPICS base (7.0.4), current

[2020-06-30 09:11] jrmadsen commented on #494
I suspect the speed up has more to do with the 2 than 1 but GCC 3.6.3 to GCC 4.8.5 is quite a bit less drastic than updating to the current GCC... v10.1

In other words, you just kind of upgraded to a slightly less ancient version of GCC. Maybe try using one of the CentOS software collection repos like devtoolset-8 (https://www.softwarecollections.org/en/scls/) to get newer compiler and libraries.

[2020-06-30 09:23] jrmadsen commented on #494
And if you do so, install tomopy from scratch. Anything that was built against the old libraries and was linked in statically (or inlined a slow implement) won't be affected by the change in the dynamic linker path.

[2020-06-30 12:29] MarkRivers commented on #494
I made a typo in my message above.  The 2013 build was using GCC 4.6.3 not 3.6.3, so the "upgrade" was only from 4.6.3 to 4.8.5 which is indeed not a big change.

When I first rebuilt tomoRecon with the newer compiler and newer version of EPICS base, but still the old static version of FFTW, the performance was actually slightly *worse* than the 2013 build.

I then tested with 3 different versions

[2020-06-30 12:31] MarkRivers commented on #494
Given that I now see a factor of 3 performance difference between tomoRecon vs TomoPy on Linux I have changed the title of this issue to remove "Windows".

[2020-06-30 14:44] ilanzhang opened #500 "phase retrieval"
the paganin filter was used for phase retrieval in the code, while I haven't found the related complex refractive index of the material, can you tell me the reason? Thanks.

[2020-06-30 19:06] MarkRivers commented on #494
The tomoRecon and TomoPy tests are doing the same thing (no -alog()), and I am using a more recent fftw.  I modified gridrec.c/gridrec.cc (TomoPy) and grid.cpp (tomoRecon) to measure the time required for each of the 3 phases in Gridrec:
- Phase 1: NumProjections 1-D FFT plus other calcs
- Phase 2: Single 2-D FFT [NumX, NumX], nothing else
- Phase 3: Regridding and other calcs

I did the tests wit

[2020-06-30 19:38] nikitinvv commented on #494
@MarkRivers, are you sure that tomopy and IDL use the same re-gridding procedure? In many cases, this procedure is slower than 2D FFT. In IDL this procedure is surprisingly 10 times faster than 2D FFT. Which kind of interpolation are you using there? The interpolation radius could be different for tomopy and IDL.

[2020-06-30 20:30] MarkRivers commented on #494
I am quite sure that tomoRecon, called by IDL, is using the original code from Gridrec.  I got that code from Brookhaven some time before 2007.  The current gridrec implementation is in this file:
https://github.com/CARS-UChicago/tomoRecon/blob/master/tomoReconApp/src/grid.cpp

<details>
<summary>This is the code that tomoRecon is using for Phase 3 in grid.cpp:</summary>
<pre>
  { /*** Phase 3 ***

[2020-06-30 21:13] nikitinvv commented on #494
@MarkRivers, to conclude:

1) gridrec in tomopy gives different results to the original gridrec code,
2) changes in the tomopy code are not documented,
3) MKL and additional code acceleration calls like __PRAGMA_SIMD_VECREMAINDER, __ASSSUME_64BYTES_ALIGNED make the code slower.

@carterbox @dgursoy @decarlof @jrmadsen  I suggest switching to the original gridrec code that @MarkRivers is using.

[2020-06-30 22:41] MarkRivers commented on #494
That seems to be true.  The problem is that gridrec has quite a few adjustable parameters.  tomoRecon exposes all of those and lets the user adjust the default values.  TomoPy hardcodes some of those parameters.  We need to make sure we are using all of the same parameter settings before we conclude that the code is giving different results.

I am not sure that there were intentional changes that

[2020-06-30 23:05] dgursoy commented on #494
Some more background..

Yes, some of those parameters were hardcoded on purpose for giving one recipe for all the users. I don't think it is a good idea to provide all the available options available unless there is a certain need to do so. We can go back and check what changes were made and the why is usually because of performance reasons.

Most of the changes were in fact documented in the PRs,

[2020-07-01 03:06] nikitinvv commented on #481
@MarkRivers let me also share some of my reconstruction quality tests. To analyze the accuracy of the back-projection operator <img src="https://render.githubusercontent.com/render/math?math=R^*"> used for reconstruction by the filtered backprojection formula I analyze the difference <img src="https://render.githubusercontent.com/render/math?math=W_{2D}f -R^*Wg">, where <img src="https://render.gi

[2020-07-01 03:10] nikitinvv commented on #494
To show that gridrec computes the back-projection operator incorrectly I've added accuracy comparison results here: [https://github.com/tomopy/tomopy/issues/481#issuecomment-652160183](url)

[2020-07-01 12:05] #473 closed

[2020-07-01 14:48] MarkRivers commented on #481
Are you aware of this paper that I think does a good job of evaluating the accuracy of Gridrec?
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3480277/

[2020-07-01 16:22] MarkRivers commented on #494
I have now written a Python program to analyse the diagnostic timing output of TomoPy and tomoRecon.  It computes the mean time for each Gridrec phase, as well as the standard deviation, min and max.  The test programs are reconstruction 1024 slices, and Gridrec does 2 slices at a time.  That means the there were 512 reconstructions done.  I used 16 threads, so on average each thread did 32 recons

[2020-07-01 16:48] MarkRivers commented on #494
@dgursoy wrote:

TomoPy and tomoRecon on Linux were both built with the same compiler, gcc 4.8.5.

tomoRecon is built with the EPICS build system and gnu make.  Its output shows the actual compiler command used to compile grid.cpp and to link the shareable library.  I have added line breaks to make it more readable.
[code]
The most important compiler flag is probably -O3.

For comparison I would l

[2020-07-01 17:40] nikitinvv commented on #481
@MarkRivers sure, I know this paper. They consider different zero padding and check different line plots through reconstruction as the accuracy comparison. They don't show the actual difference to the ground truth object though, because for the unfiltered shepp-logan phantom the difference could be very huge since it contains high frequencies. We cannot use this strategy to compare accuracy with h

[2020-07-01 20:46] MarkRivers commented on #494
I think the important questions and conclusions from my timing results above are:

1. Phase 1 is 1.37 times slower on TomoPy than tomoRecon on Linux.  But it is 6.7 times slower on Windows.  Why?
2. Phase 2 is a single 2-D FFT.  TomoPy uses MKL for this, tomoRecon uses FFTW.  MKL is about 1.1X faster on Linux and 1.7X faster on Windows.  But the time for Phase 2 is insignificant compared to the to

[2020-07-01 21:59] MarkRivers commented on #494
I am trying to figure out why Phase 3 is at least 10-20 times slower in TomoPy than in tomoRecon.

The first thing to check is that the loop dimensions are the same.  I added debugging print statements to the C code in TomoPy and tomoRecon.

tomoRecon:
[code]
TomoPy:
[code]
The loops appear to be nearly the same. There is a small difference, ustart=1025 in tomoRecon, 1024 in TomoPy. Assuming the o

[2020-07-01 22:22] MarkRivers commented on #494
**I figured out why TomoPy is so slow in Phase 3, and I fixed it!**

The problem is that TomoPy is rotating the reconstructed image by 90 degree relative to the original Gridrec code.  I had actually noticed this when I compared reconstructed images from TomoPy and tomoRecon.  This 90 degree rotation has a severe performance hit, because adjacent pixels in the reconstructed image are far apart in

[2020-07-01 22:27] nikitinvv commented on #494
First, clean it:
[code]

Then:
[code]

[2020-07-01 22:40] jrmadsen commented on #494
Wonderful news. So is the moral of the story that MSVC optimizer sucks?

[2020-07-01 22:43] jrmadsen commented on #494
Also, `python setup.py build -- -DCMAKE_VERBOSE_MAKEFILE=ON`

[2020-07-01 22:44] jrmadsen commented on #494
scikit-build defaults to doing `-DCMAKE_BUILD_TYPE=Release` which implies `-O3`.

[2020-07-01 22:45] nikitinvv commented on #494
@MarkRivers great that you've found it! The code has been optimized by many people working with HPC, but they surprisingly skip this straightforward issue for some reason.

[2020-07-02 00:24] MarkRivers commented on #494
Not at all.  This is gcc on Linux with -O3.

[2020-07-02 00:50] MarkRivers commented on #494
The problem was that in this case gridrec.c was writing each successive pixel value into memory locations that were 2048 * 2028 * 4 = 16MB apart.  It is hard for an optimizer to fix that.  The problem was the same on gcc and MSVC. It is simply a cache problem.

My fix is not really optimizing, it is *removing a de-optimization* that was done when the original gridrec code was re-written for tomopy

[2020-07-02 02:49] jrmadsen commented on #494
Yes, but the point was that they were both dealing with the same problem and the Windows performance was much worse and when you fixed the problem, the performance became identical. It probably has more to do with hardware spec than anything else but I just like to hate on MSVC when I can bc it causes so many problems for me, e.g. I recently had to just completely drop VS2017 support for one of my

[2020-07-02 03:46] MarkRivers commented on #494
I guess I was not being clear.  The fix I did above was only implemented and tested on Linux (gridrec.c), I have not implemented or tested this Phase 3 fix on Windows yet (gridrec.cc).

This is a summary of the status of Phase 3:
- Linux TomoPy before the fix (time=0.110)
- Linux TomoPy after the fix (time=0.008)
- Windows TomoPy before the fix (time=0.179)
- Windows TomoPy after the fix (not impl

[2020-07-02 04:03] newville commented on #494
@jrmadsen Perhaps you can correct me if I am wrong, but my recollection is that you both advocated for and helped implement the use of _Complex and a separate C++ version of gridrec precisely so that it could be built with MSVC C++ on Windows instead of building with gcc from MinGW.   That is, around v 1.4 (late 2018), I helped add support for building tomopy on Windows (previously it was not buil

[2020-07-02 07:14] jrmadsen commented on #494
You are correct. I am pretty sure MinGW is still supported... CMake tends to be able to handle those things. My opinions on MSVC have nothing to do with MinGW. MinGW is _not_ an officially supported GNU compiler.

Actually... not a fact. There is a benchmarking folder in the root directory of tomopy. And here are some snapshots from a couple days ago bc I worked it into the continuous integration

[2020-07-02 13:29] MarkRivers commented on #494
I have now applied the 90 degree rotation fix for TomoPy Phase 3 on Windows (source/cxx/gridrec.cc) as well.  This is the timing before the fix:
[code]
This is the timing after the fix:
[code]
So the time for Phase 3 has decreased from 0.179 seconds to 0.009 seconds, a factor of 20 improvement.   The Phase 3 time in TomoPy on Windows is now the same as in tomoRecon on Windows.

The fact that the P

[2020-07-02 15:28] MarkRivers commented on #494
I tested to make sure that my fix really does just transpose the images.  This is a reconstruction with the master branch, without the fix.

![image](https://user-images.githubusercontent.com/6115534/86376514-b517e580-bc4c-11ea-8f69-4b79818f0c36.png)

This is the same reconstruction using the rot90 branch which has the 2 line fix in gridrec.c.  Relative to the image above, It is rotated 90 degrees

[2020-07-02 17:54] #489 closed

[2020-07-02 23:10] MarkRivers commented on #494
I have added additional timing measurements in Phase 1.  Phase 1 can broken down into 4 subphases.
Phase 1_1: Initialization before loop over projections
Phase 1_2: Zeroing arrays inside loop over projections
Phase 1_3: 1-D FFT inside loop over projections
Phase 1_4: Inner loop over FFT projections

I found that only Phase 1_4 is significant, all of the others are very fast.  I thus broke phase 1_